{% extends 'global_base_ui.html' %} {% block left_sidebar %}

<a href="{% url 'accounts:user-page-view' %}" class="item">
    <i class="chart bar icon"></i>  
    Dashboard
</a>
<li class="bold">
    <a href="sales_page.html" class="waves-effect waves-cyan">
                      <i class="material-icons">note</i>
                      <span class="nav-text">Sales</span>
                    </a>
</li>
<a href="intentory_page.html" class="item">
    <i class="box icon"></i>
    Inventory
</a>
<li class="bold">
    <a href="scheduling_page.html" class="waves-effect waves-cyan">
                      <i class="material-icons">event_note</i>
                      <span class="nav-text">Production</span>
                    </a>
</li>
<li class="bold">
    <a href="reports_page.html" class="waves-effect waves-cyan">
                      <i class="material-icons">show_chart</i>
                      <span class="nav-text">Reports</span>
                    </a>
    <li class="bold">
        <a href="clients_page.html" class="waves-effect waves-cyan">
                      <i class="material-icons">account_box</i>
                      <span class="nav-text">Accounts</span>
                    </a>
    </li>
    <li class="bold">
        <a href="clients_page.html" class="waves-effect waves-cyan">
                      <i class="material-icons">people</i>
                      <span class="nav-text">Clients</span>
                    </a>
    </li>

{% endblock %} {% block content %} {% endblock %}