<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">

    <title>Big Apple Plastic Manufacturing Co.Information System</title>

    <!-- <link rel="icon" href="{% static 'images/BAicon.png' %}" sizes="32x32">-->
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">

</head>

<body>
    <!-- START MAIN -->

    <div class="ui vertical inverted left visible sidebar menu">

        <div style="color: white; padding-left: 20px; padding-top: 15px; padding-right: 15px;">
            <h1>
                {{request.session.session_position}}
            </h1>
            <div style="color: white; margin-top: -5px;">
               <div class="ui vertical following fluid accordion text menu" style="color: #1aa62a;font-size: 20px; margin-top: -5px;">
                    <div class="item">
                        <a class="title">
                            <i class="bars icon"></i>
                            {{request.session.session_fullname}}
                        </a>
                        <div class="content menu">
                            <a href="{% url 'accounts:user-page-view' %}" class="item">
                                <i class="home icon"></i>
                                Home
                            </a>
                            <a href="{% url 'accounts:account_details' %}" class="item">
                                <i class="id badge icon"></i>
                                Account Details
                            </a>
                            <a href="{% url 'accounts:logout' %}" class="item">
                                <i class="power off icon"></i>
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        <div style="color: white;">

        {% block left_sidebar %} {% endblock %}

        </div>

        <div style="font-size: 10px; color:white;position: absolute; bottom: 10px;">
            <center>
                <div class="ui inverted footer">
                    <div class="container">
                        <span>Copyright ©
                            <script type="text/javascript">
                                document.write(new Date().getFullYear());
                            </script> Team OT. All rights reserved.
                        </span>
                    </div>
                </div>
            </center>
        </div>
    </div>
    </div>
    <div class="segment">
        <div class="container" style="margin:25px 35px 10px 300px;">

            {% block content %} {% endblock %}

        </div>
    </div>
    <!-- END MAIN -->

    <!-- jQuery Library -->
    <script type="text/javascript" src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <!--Formset files-->
    <script src="{% static 'jquery.formset.js' %}" charset="utf-8"></script>

    <script src="{% static 'semantic.min.js' %}"></script>

    <script>
        $('.ui.accordion').accordion();
    </script>

    {% block script %} {% endblock %}

</body>




</html>