{% extends 'login_register_ui.html' %}

{% block login %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %} {%if form.errors %}
    <p>Error, incorrect username or password.</p>
    {% endif %} {% if next %}
    <p>You can't access this page</p>
    {% endif %}

    <label>Username: </label>{{form.username}}
    <br>
    <label>Password: </label>{{form.password}}

    <div class="center">
        <input class="ui button" type="submit" value="Login">
    </div>
</form>

{% endblock %}