<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">

    <title>Big Apple Plastic Manufacturing Co.Information System</title>

    <!-- CSS -->
    <!-- <link rel="icon" href="{% static 'images/BAicon.png' %}" sizes="32x32">-->
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">

    <!-- GANTT CHART RESOURCES -->
    <link rel="stylesheet" href="../../static/gantt chart/dist/frappe-gantt.css" />
    <script src="../../static/gantt chart/dist/frappe-gantt.js"></script>
</head>

<body>

    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first"><i class="unlock icon"></i>Login</a>
        <a class="item" data-tab="second"><i class="user outline icon"></i>Register</a>
    </div>
    <div class="ui bottom attached tab segment" data-tab="first">
        <div class="card-content black-text">
            <!--form-->
            {% block login %} {%endblock %}
        </div>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="second">
        <div class="card-content black-text">
            <!--form-->
            {% block register %} {% endblock %}
        </div>
    </div>

    <!-- jQuery Library -->
    <script type="text/javascript" src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <!--Formset files-->
    <script src="{% static 'jquery.formset.js' %}" charset="utf-8"></script>

    <script src="{% static 'semantic.min.js' %}"></script>

</body>

</html>
