 {% extends "global_base_ui.html" %} {% block left_sidebar %}

<a href="{% url 'accounts:user-page-view' %}" class="item">
    <i class="chart bar icon"></i>  
    Dashboard
</a>
<a href="{% url 'sales:create-client-po-form' %}" class="item">
    <i class="file alternate icon"></i>
    Create Purchase Order
</a>
<a href="{% url 'sales:po-list-view' %}" class="item">
    <i class="file alternate icon"></i>
    Client Purchase Orders
</a>
<a href="client_payment_monitoring_list.html" class="item">
    <i class="material-icons">note</i>
    <span class="nav-text">Client Payments</span>
</a>
<a href="scheduling_page.html" class="item">
    <i class="money bill alternate outline icon"></i>
    Client Payments
</a>
<a href="rush_order_list.html" class="item">
    <i class="shipping fast icon"></i>
    Rush Order
</a>
<a href="rush_order_assessment.html" class="item">
    <i class="calculator icon"></i>
    Order Assessment and Re-Planning
</a>
<a href="{% url 'sales:JO_list' %}" class="item">
    <i class="edit outline icon"></i>
    Job Order
</a>
<a href="intentory_page.html" class="item">
    <i class="box icon"></i>
    Inventory
</a>
<a href="client_page_list.html" class="item">
    <i class="user outline icon"></i>
    Clients
</a>
<a href="supplier_list.html" class="items">
    <i class="users icon"></i>
    Suppliers
</a>

{% endblock %}

 {% block content %}
 {% endblock %}