{% extends 'global_base_ui.html' %}
{% block left_sidebar %}
<!-- Client -->
<div id= "client_sidebar" style="display: none;">
    <a href="{% url 'sales:create-client-po-form' %}" class="item">
        <i class="plus square icon"></i>
        Create Purchase Order
    </a>

    <a href="{% url 'sales:po-list-view' %}" class="item">
        <i class="search icon"></i>
        Review Purchase Orders
    </a>

    <a href="{% url 'sales:sales_invoice_list' %}" class="item">
        <i class="file alternate icon"></i>
        Your Sales Invoices
    </a>
</div>

<!-- General Manager -->
<div id= "general_manager_sidebar" style="display: none;">
    <div class="ui vertical following fluid accordion text menu" style="font-size: 17px;">
        <div class="item">
            <a class="title">
                <i class="dropdown icon"></i>
                <b>Manager's Tools</b>
            </a>
            <div class="content menu">
                <a href="{% url 'sales:employee_list' %}" class="item">
                    <i class="id badge icon"></i>
                    Employees
                </a>
                <a href="{% url 'sales:supplier_list' %}" class="item">
                    <i class="dolly flatbed icon"></i>
                    Suppliers
                </a>
                <a href="{% url 'sales:client_list' %}" class="item">
                    <i class="user outline icon"></i>
                    Clients
                </a>
                <a href="{% url 'sales:employee_add' %}" class="item">
                    <i class="plus icon"></i>
                    <i class="id badge icon"></i>
                    Add Employee
                </a>
                <a href="{% url 'sales:client_add' %}" class="item">
                   <i class="plus icon"></i>
                    <i class="user outline icon"></i>
                    Add Client
                </a>
                <a href="{% url 'sales:supplier_add' %}" class="item">
                    <i class="plus icon"></i>
                    <i class="dolly flatbed icon"></i>
                     Add Supplier
                </a>
            </div>
        </div>
        <div class="item">
            <a class="title">
                <i class="dropdown icon"></i>
                <b>Sales</b>
            </a>
                <div class="content menu">
                    <a href="{% url 'sales:po-list-view' %}" class="item">
                        <i class="file alternate icon"></i>
                        Client Purchase Orders
                    </a>
                    <a href="{% url 'sales:demand_forecast' %}" class="item">
                        <i class="chart area icon"></i>
                        Client Demand Forecast
                    </a>
                    <a href="{% url 'sales:sales_invoice_list' %}" class="item">
                        <i class="money bill alternate outline icon"></i>
                        Sales Invoices
                    </a>
                    <a href="{% url 'sales:statement_of_accounts' %}" class="item">
                        <i class="file alternate icon"></i>
                        Statement of Accounts
                    </a>
                    <a href="{% url 'sales:rush_order_list' %}" class="item">
                        <i class="shipping fast icon"></i>
                        Rush Orders
                    </a>
                </div>
            </div>

        <div class="item">
            <a class="title">
                <i class="dropdown icon"></i>
                <b>Production</b>
            </a>
            <div class="content menu">
                <a href="{% url 'production:production_schedule' %}" class="item">
                    <i class="calendar alternate outline icon"></i>
                    Production Schedule
                </a>
                <a href="{% url 'production:shift_schedule' %}" class="item">
                    <i class="users icon"></i>
                    Shift Schedule
                </a>
                <a href="{% url 'production:job_order_list' %}" class="item">
                    <i class="edit outline icon"></i>
                    Job Orders
                </a>
                <a href="{% url 'production:finished_job_order_list' %}" class="item">
                    <i class="check icon"></i>
                    Finished Job Order Report
                </a>
            </div>
        </div>
        <div class="item">
            <a class="title">
                <i class="dropdown icon"></i>
                <b>Inventory</b>
            </a>
            <div class="content menu">
            <a href="{% url 'inventory:inventory_item_list' %}" class="item">
                <i class="warehouse icon"></i>
                Inventory Report
            </a>
            <a href="{% url 'inventory:inventory_forecast' %}" class="item">
                <i class="chart line icon"></i>
                Inventory Forecast
            </a>
            <a href="{% url 'inventory:inventory_item_add' %}" class="item">
                <i class="dolly icon"></i>
                Add Inventory Item
            </a>
            <a href="{% url 'inventory:materials_requisition_list' %}" class="item">
                <i class="boxes icon"></i>
                Materials Requisition
            </a>
            <a href="{% url 'inventory:supplierPO_form' %}" class="item">
                <i class="clipboard icon"></i>
                Create Supplier Purchase Orders
            </a>
            <a href="{% url 'inventory:supplierPO_list' %}" class="item">
                <i class="check clipboard icon"></i>
                Supplier Purchase Orders
            </a>
            </div>
        </div>
    </div>
</div>

<!-- Sales Coordinator -->
<div id= "sales_coordinator_sidebar" style="display: none;">
    <div class="ui vertical following fluid accordion text menu" style="font-size: 17px;">
        <div class="item">
            <a class="title">
                <i class="dropdown icon"></i>
                <b>Sales</b>
            </a>
            <div class="content menu">
                <a href="{% url 'sales:create-client-po-form' %}" class="item">
                    <i class="plus square icon"></i>
                    Create Purchase Order
                </a>
                <a href="{% url 'sales:po-list-view' %}" class="item">
                    <i class="file alternate icon"></i>
                    Purchase Orders
                </a>
                <a href="{% url 'sales:rush_order_list' %}" class="item">
                    <i class="shipping fast icon"></i>
                    Rush Orders
                </a>
                <a href="{% url 'sales:demand_forecast' %}" class="item">
                    <i class="chart line icon"></i>
                    Client Demand Forecast
                </a>
                <a href="{% url 'sales:sales_invoice_list' %}" class="item">
                    <i class="money bill alternate outline icon"></i>
                    Sales Invoices
                </a>
                <a href="{% url 'sales:statement_of_accounts' %}" class="item">
                    <i class="file alternate icon"></i>
                    Statement of Accounts
                </a>
                <a href="{% url 'sales:client_list' %}" class="item">
                    <i class="user outline icon"></i>
                    Clients
                </a>
                <a href="{% url 'sales:client_add' %}" class="item">
                    <i class="user plus icon"></i>
                    Add Client
                </a>
            </div>
        </div>
        <div class="item">
            <a class="title">
                <i class="dropdown icon"></i>
                <b>Production</b>
            </a>
            <div class="content menu">
                <a href="{% url 'production:job_order_list' %}" class="item">
                    <i class="edit outline icon"></i>
                    Job Orders
                </a>
                <a href="{% url 'production:finished_job_order_list' %}" class="item">
                    <i class="check icon"></i>
                    Finished Job Order Report
                </a>
            </div>
        </div>
        <div class="item">
        <a class="title">
            <i class="dropdown icon"></i>
            <b>Inventory</b>
        </a>
        <div class="content menu">
            <a href="{% url 'inventory:inventory_item_list' %}" class="item">
                <i class="warehouse icon"></i>
                Inventory Report
            </a>
            <a href="{% url 'inventory:inventory_forecast' %}" class="item">
                <i class="chart line icon"></i>
                Inventory Forecast
            </a>
            <a href="{% url 'inventory:inventory_item_add' %}" class="item">
                <i class="dolly icon"></i>
                Add Inventory Item
            </a>
            <a href="{% url 'inventory:supplierPO_form' %}" class="item">
                <i class="clipboard icon"></i>
                Create Supplier Purchase Orders
            </a>
            <a href="{% url 'inventory:supplierPO_list' %}" class="item">
                <i class="check clipboard icon"></i>
                Supplier Purchase Orders
            </a>
            <a href="{% url 'sales:supplier_list' %}" class="item">
                <i class="dolly icon"></i>
                Suppliers
            </a>
        </div>
    </div>
    </div>
</div>

<!-- Sales Agent -->
<div id= "sales_agent_sidebar" style="display: none;">
    <a href="{% url 'sales:create-client-po-form' %}" class="item">
        <i class="plus square icon"></i>
        Create Purchase Order
    </a>
    <a href="{% url 'sales:po-list-view' %}" class="item">
        <i class="file alternate icon"></i>
        Client Purchase Orders
    </a>
    <a href="{% url 'sales:demand_forecast' %}" class="item">
        <i class="chart area icon"></i>
        Client Demand Forecast
    </a>
    <a href="{% url 'production:job_order_list' %}" class="item">
        <i class="edit outline icon"></i>
        Job Orders
    </a>
    <a href="{% url 'sales:sales_invoice_list' %}" class="item">
        <i class="money bill alternate outline icon"></i>
        Sales Invoices
    </a>
    <a href="{% url 'sales:client_list' %}" class="item">
        <i class="user outline icon"></i>
        Clients
    </a>
</div>

<!-- Production Manager -->
<div id= "production_manager_sidebar" style="display: none;">
    <a href="{% url 'production:production_schedule' %}" class="item">
        <i class="calendar alternate outline icon"></i>
        Production Schedule
    </a>
    <a href="{% url 'production:shift_schedule' %}" class="item">
        <i class="users icon"></i>
        Shift Schedule
    </a>
    <a href="{% url 'production:job_order_list' %}" class="item">
        <i class="edit outline icon"></i>
        Job Orders
    </a>
    <a href="{% url 'production:finished_job_order_list' %}" class="item">
        <i class="check icon"></i>
        Finished Job Order Report
    </a>
    <a href="{% url 'inventory:inventory_item_list' %}" class="item">
        <i class="warehouse icon"></i>
        Inventory Report
    </a>
    <a href="{% url 'inventory:inventory_item_add' %}" class="item">
        <i class="warehouse icon"></i>
        <i class="plus icon"></i>
        Add Inventory Items
    </a>
    <a href="{% url 'inventory:materials_requisition_list' %}" class="item">
        <i class="dolly flatbed icon"></i>
        Materials Requisitions
    </a>

</div>

<!-- Line Leader -->
<div id= "line_leader_sidebar" style="display: none;">
    <a href="{% url 'production:production_schedule' %}" class="item">
        <i class="calendar alternate outline icon"></i>
        Production Schedule
    </a>
    <a href="{% url 'production:shift_schedule' %}" class="item">
        <i class="users icon"></i>
        Shift Schedule
    </a>
    <a href="{% url 'production:job_order_list' %}" class="item">
        <i class="edit outline icon"></i>
        Job Orders
    </a>
    <a href="" class="item">
        <i class="plus circle icon"></i>
        Create Materials Requisition
    </a>
</div>

<!-- Credit And Collection Personnel -->
<div id= "credit_collection_sidebar" style="display: none;">
    <a href="{% url 'sales:sales_invoice_list' %}" class="item">
        <i class="money bill alternate outline icon"></i>
        Sales Invoices
    </a>
    <a href="{% url 'sales:statement_of_accounts' %}" class="item">
        <i class="file alternate icon"></i>
        Statement of Accounts
    </a>
</div>

<!-- Supervisor -->
<div id= "supervisor_sidebar" style="display: none;">
    <a href="{% url 'production:production_schedule' %}" class="item">
        <i class="calendar alternate outline icon"></i>
        Production Schedule
    </a>
    <a href="{% url 'production:shift_schedule' %}" class="item">
        <i class="users icon"></i>
        Shift Schedule
    </a>
    <a href="{% url 'production:job_order_list' %}" class="item">
        <i class="edit outline icon"></i>
        Job Orders
    </a>
    <a href="{% url 'inventory:materials_requisition_list' %}" class="item">
        <i class="boxes icon"></i>
        Materials Requisition
    </a>
</div>

{% endblock %}