{% extends 'login_register_ui.html' %} {% block login %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %} {%if form.errors %}
    <p>Error, incorrect username or password.</p>
    {% endif %} {% if next %}
    <p>You can't access this page</p>
    {% endif %}

    <div>
        <div>
            <label>Username: </label> {{form.username}}
            <br>
            <label>Password: </label> {{form.password}}
        </div>

        <br>

        <button class="ui green basic button" type="submit" style="width: 100px;">Login</button>
        <button class="ui yellow basic button" type="reset" style="width: 100px;">Clear</button>
    </div>

</form>

{% endblock %}
