{% extends 'login_register_ui.html' %}

{% block login %}

<form method = "post" action = "{% url 'login' %}" >
                                	{% csrf_token %}

										    {%if form.errors %}
    <p>Error, incorrect username or password.</p>
    {% endif %}

    {% if next %}
    <p>You can't access this page</p>
    {% endif %}

										<label>Username: {{form.username}}</label>
										<label>Password: {{form.password}}</label>
										<!--
        		 					<div class="input-field">
										<label>Username</label>
           								<input type="text" required="true" id="username" >
    	     						</div>
	           						<div class="input-field">
										<label>Password</label>
           								<input type="password" required="true" id="password">
         							</div>
         							-->
           							<div class="center">
         								<input class="btn btn-small green" type="submit" value="Login">

	   								</div>
            						</form>

{% endblock %}


<!-- LOGIN/REGISTER------------------->

{% block register %}
<form method="post" action = "{% url 'accounts:register' %}">
									{% csrf_token %}
									   {% for field in form %}
      							<p>
        								{{ field.label_tag }}<br>
        								{{ field }}
        								{% if field.help_text %}
          									<small style="color: grey">{{ field.help_text }}</small>
        								{% endif %}
        								{% for error in field.errors %}
         								 <p style="color: red">{{ error }}</p>
        								{% endfor %}
     							 </p>
   										 {% endfor %}

         							<div class="center">
         								<button class="btn btn-small green" type="submit" value="Register">Register</button>
	       							</div>
    	   						</form>
{% endblock %}