{% extends 'sidebar.html' %}

  {% block content %}
		<h2 class="ui header">Physical Count History </h2>
		<h3 class="ui header">{{ item.item }}</h3>
		<table class="ui striped table">
        	<thead>
          	<tr class = "row">
                <th class = "four wide">Date Counted</th>
				<th class = "six wide">Person</th>
                <th class = "three wide">Previous Quantity</th>
                <th class = "three wide">Quantity Added</th>
          	</tr>
    		</thead>
    		<tbody>
			{% if i %}
                {% for x in i %}
    			<tr class = "row">
					<td>{{ x.date_counted }}</td>
					<td>{{ x.count_person }}</td>
                    <td>{{ x.old_count }}</td>
                    <td>{{ x.new_count }}</td>
    			</tr>
                {% endfor %}
			{% else %}
			<td>
				<p>There are no History Count to display</p>
			</td>
			{% endif %}
			</tbody>
		</table>
		<a href="{% url 'inventory:inventory_item_list'%}">Back</a>

{% endblock %}