{% extends 'accounts/production_manager_page.html' %}

  {% block content %}

	<div class="wrapper container">
		<table class="striped" style = "font-size:12px;">
        	<thead>
          	<tr class = "row">
                <th>RM Name</th>
                <th>Type</th>
				<th>Quantity</th>
                <th></th>
          	</tr>
    		</thead>
    		<tbody>
				{% for rm in rm %}
    			<tr class = "row">
                    <td>{{ rm.rm_name }}</td>
                    <td>{{ rm.rm_type }}</td>
					<td>{{ rm.quantity }}</td>
                    <td>
                        <a class="amber btn" href="{% url 'inventory:inventory_edit' rm.id %}" style="font-size:12px;">View</a>
                    </td>
    			</tr>
				{% endfor %}
			</tbody>
    	</table>
	</div>

{% endblock %}