{% extends 'production_manager_page_ui.html' %}

{% block content %}

<div class = "ui centered grid">
    <div class="six wide tablet ten wide computer column">
        <form class="ui form segment" action = "#" method="POST" role="form">
            <h2 class="ui dividing header">{{ title }}</h2>
            {% csrf_token %}
            <label>Date Counted</label>
            <div class="field">
                {{ form.date_counted }}
            </div>
            <div class="field">
                <label>Item</label>
                {{ form.inventory }}
            </div>
            <div class="field">
                <label>Count</label>
                {{ form.new_count }}
            </div>
            
            <button class="ui basic green button" type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}