{% extends 'production_manager_page_ui.html' %}

  {% block content %}

	<div class = "ui container">
		<h2 class="ui header">{{ title }}</h2>
		<table class="ui stripped table">
        	<thead>
          	<tr class = "row">
                <th class="four wide">Item</th>
				<th class="four wide">Type</th>
				<th class="six wide">Quantity</th>
				<th style="width: 100px;"></th>
          	</tr>
    		</thead>
    		<tbody>
				{% for items in items %}
    			<tr class = "row">
					<td> 
						<a href="{% url 'inventory:inventory_count_list' items.id %}">{{ items.item_name }}</a>
					</td>
					{% if items.item_type == 'Raw Materials' %}
                    	<td>{{ items.itemtype }}</td>
					{% else %}
						<td>{{ items.item_type }}</td>
					{% endif %}
					<td>{{ items.quantity }}</td>
                    <td>
						<a style = "padding: 5px;" href="{% url 'inventory:inventory_item_edit' items.id %}">
							<i class="yellow edit icon"></i>
						</a>
						<a style = "padding: 5px;" href="{% url 'inventory:inventory_item_delete' items.id %}">
							<i class="red trash icon"></i>
						</a>
                    </td>
    			</tr>
				{% endfor %}
			</tbody>
    	</table>
	</div>
 <!-- Modal Confirm Delete -->
	 <!-- <div class="ui modal">
		<div class="header">Header</div>
		<div class="content">
			<p></p>
		</div>
		<div class="actions">
			<div class="ui approve button">Approve</div>
			<div class="ui button">Neutral</div>
			<div class="ui cancel button">Cancel</div>
		</div>
	</div> -->

	
	{% block script %}
	{% endblock %}
	
{% endblock %}