{% extends 'sidebar.html' %}

{% block content %}
<h3 class="ui dividing header">{{ title }}</h3>
<div>
    <form class="ui form" action = "#" method="POST" role="form">
        {% csrf_token %}
        <div class="three fields">
            <div class="field">
                <label>Item</label>
                {{ form.item }}
            </div>
            <div class="field">
                <label>Item Type</label>
                {{ form.item_type }}
            </div>
            <div class="field">
                <label>Material Type (for Raw Materials)</label>
                {{ form.rm_type }}
            </div>
        </div>
            <div class="field">
            <label>Price per unit</label>
            {{ form.price }}
        </div>
            <div class="field">
            <label>Supplier</label>
            {{ form.supplier }}
        </div>
        <div class="field">
            <label>Description</label>
            {{ form.description }}
        </div>
    </div>
<br>
            <button class="medium ui green button" style="width: 100px" type="submit">Submit</button>
            <button class="medium ui yellow button" style="width: 100px" type="reset">Clear</button>
        </form>
</div>

{% endblock %}