{% extends 'sidebar.html' %}

{% block content %}

<form class="ui form segment" action = "#" method="POST" role="form">
    <h2 class="ui dividing header">{{ title }}</h2>
    {% csrf_token %}

        <div class="three fields">
            <div class="field">
                <label>Item</label>
                {{ data.item }}
            </div>
            <div class="field" style="font-size: 20px">
                <label>Quantity </label>
                {{ data.quantity }}
            </div>
            <div class="field">
                <label>Supplier</label>
                {{ data.supplier }}
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                <label>Item Type</label>
                {{ data.item_type }}
            </div>
            <div class="field">
                    <label>Raw Material Type</label>
                {{ data.rm_type }}
            </div>
        </div>
        <div class="three fields">
            <div class="field">
            <label>Count:</label>
            {{ form.new_count }}
            </div>
            <div class="field">
            <label>Supplier PO:</label>
            {{ form.spo_count }}
        </div>
            <div class="field">
            <label>For Job Order #:</label>
            {{ form.client_po }}
        </div>
        </div>

    <button onclick="return confirm('Are you sure?')" class="small ui green button" type="submit">{{actiontype}}</button>
    <a class="small ui red button" href="{% url 'inventory:inventory_item_list'%}">Back</a>
</form>

{% endblock %}