{% extends 'sidebar.html' %}
{% block content %}

<h3 class="ui dividing header">Inventory Details</h3>
<div class="ui segment">
        <h3 class="ui dividing header">{{item.id}} - {{ item.item }}</h3>
            <form class="ui form">
            <div class="ui two column grid">
                <div class="column">
                    <div class="field">
                        <label>Item Type</label>
                        {{ item.item_type }}
                    </div>
                    <div class="field">
                        <label>Raw Material Type</label>
                        {{ item.rm_type }}
                    </div>
                    <div class="field">
                        <label>Description</label>
                        {{item.description}}
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label>Supplier</label>
                        {{ item.supplier }}
                    </div>
                    <div class="field">
                        <label>Price</label>
                        {{ item.price }}
                    </div>
                    <div class="field">
                        <label>Quantity</label>
                        {{ item.quantity }}
                    </div>
                </div>
            </div>
            </form>

            <h3 class="ui horizontal divider">Forecast</h3>
            <div class="ui very compact secondary menu">
                <a class="item" data-tooltip="Simple Exponential Smoothing" data-tab="second" data-position="bottom center">SES</a>
                <a class="item" data-tooltip="Holt Winters Exponential Smoothing" data-tab="third" data-position="bottom center">HWES</a>
                <a class="item" data-tooltip="Moving Average" data-tab="fourth" data-position="bottom center">Moving Average</a>
            </div>
            <div class="ui active tab segment" data-tab="second">
                <table class="ui small compact striped table center aligned">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Quantity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if forecast_ses.0 == 0 and forecast_ses.1 == 0 %}
                                <td>
                                    Not enough data to generate forecast!
                                </td>
                            {% else %}
                                <td>
                                    {{ forecast_ses.0 }}
                                </td>
                                <td>
                                    {{ forecast_ses.1 }}
                                </td>
                            <tfoot class="full-width">
                        <tr>
                            <th colspan="2">
                                 <form method='get'>

                                   <input type="submit" class="ui green basic button" value="ORDER" id="ses_order" name="ses_order">


                            </th>
                        </tr>
                    </tfoot>
                            {% endif %}
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="ui tab segment" data-tab="third">
                <table class="ui small compact striped table center aligned">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Quantity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if forecast_hwes.0 == 0 and forecast_hwes.1 == 0 %}
                                <td>
                                    Not enough data to generate forecast!
                                </td>
                            {% else %}
                            <td>
                                {{ forecast_hwes.0 }}
                            </td>
                            <td>
                                {{ forecast_hwes.1 }}
                            </td>
                            <tfoot class="full-width">
                        <tr>
                            <th colspan="2">

                                   <input type="submit" class="ui green basic button" value="ORDER" id="hwes_order" name="hwes_order">

                            </th>
                        </tr>
                    </tfoot>
                            {% endif %}
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="ui tab segment" data-tab="fourth">
                <table class="ui small compact striped table center aligned">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Quantity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if forecast_moving_average.0 == 0 and forecast_moving_average.1 == 0 %}
                                <td>
                                    Not enough data to generate forecast!
                                </td>
                            {% else %}
                            <td>
                                {{ forecast_moving_average.0 }}
                            </td>
                            <td>
                                {{ forecast_moving_average.1 }}
                            </td>
                            <tfoot class="full-width">
                        <tr>
                            <th colspan="2">
                                <input type="submit" class="ui green basic button" value="ORDER" id="moving_average_order" name="moving_average_order">

                            </th>
                        </tr>
                    </tfoot>
                            {% endif %}
                        </tr>
                    </tbody>

                </table>
            </div>
    </div>


{% endblock %}