{% extends 'sidebar.html' %}
{% block content %}

<div class="">
    <div class="ui container">
        <div class="ui grid two columns">
            <div class="column">

            </div>
            <div class="column">
                <div>
                    <div class="ui very compact secondary menu">
                        <a class="active item" data-tab="first">Time Series Decomposition</a>
                        <a class="item" data-tab="second">Simple Exponential Smoothing</a>
                        <a class="item" data-tab="third">Holt Winters Exponential Smoothing</a>
                        <a class="item" data-tab="fourth">Moving Average</a>
                        <a class="item" data-tab="fifth">ARIMA</a>
                    </div>
                    <div class="ui active tab segment" data-tab="first">
                        4
                    </div>
                    <div class="ui tab segment" data-tab="second">
                        5
                    </div>
                    <div class="ui tab segment" data-tab="third">
                        6
                    </div>
                    <div class="ui tab segment" data-tab="fourth">
                        4
                    </div>
                    <div class="ui tab segment" data-tab="fifth">
                        5
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}