{% extends 'sidebar.html' %}
{% block content %}
<h3 class="ui dividing header">{{ title }}</h3>
		{{msg}}
		<table class="ui striped table center aligned">
        	<thead>
          	<tr class = "row">
                <th>Control Number</th>
                <th>Date Issued</th>
                <th>Status</th>
          	</tr>
    		</thead>
    		<tbody>

			{% if mr %}

				{% for mr in mr %}
    			<tr class = "row">
                    <td> 
                        <a href="{% url 'inventory:materials_requisition_details' mr.id %}">{{ mr }}</a>
                    </td>
                    <td>{{ mr.datetime_issued }}</td>
					{% if mr.status == "Pending" %}
					<td class = "warning">
							<i class = "hourglass half icon">Pending</i>
                    <br>
							 <form method="post">
                {% csrf_token %}

                    <input type="submit" class="ui green basic button" value="Retrieve from Warehouse" id="confirm_btn" name="confirm_btn">

            </form></td>
						{% else %}
                    <td>Retrieved</td>
						{%endif%}

				</tr>
				{% endfor %}
			{% else %}

				<td>No Material Requisitions to show!</td>


			{% endif %}
			</tbody>
    	</table>

{% endblock %}