{% extends 'sidebar.html' %}
{% block content %}
{% if messages %}
    <div class="{{ style }}"> {{ message }}</div>
{% endif %}
<div class = "ui centered grid">
    <div class="six wide tablet ten wide computer column">
        {{msg}}
            <h2 class="ui header">Materials Requisition {{ title }}</h2>
            <div class="two fields">
                <div class = "field">
                    <label for="">Date Time Issued:</label>
                    <span>{{ mr.datetime_issued }}</span>
                </div>
                <div class = "field">
                    <label for="">Status:</label>
                    <span id = "status">{{ mr.status }}</span>
                </div>
            </div>
            <table class="ui table">
                <thead>
                    <th class="five wide">Item</th>
                    <th class="four wide">Quantity</th>
                    <th class="seven wide">For</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ mr.item }}</td>
                        <td>{{ mr.quantity }}</td>
                        <a href="{% url 'production:job_order_details' item.client_po.id %}"><td>{{ item.client_po }}</td></a>
                    </tr>
                </tbody>
            </table>
        <a href="{% url 'inventory:materials_requisition_list'%}">Back</a>
    </div>
</div>

{% endblock %}

{% block script %}

    <script>
        $( document ).ready(function() {
            $(function() {
                if($('#status').text()=='approved'){
                    $('#approve_btn').prop('disabled', true);
                }
            });
            $(function() {
                $( ".message" ).fadeOut(5000, function() {
                    // Animation complete.
                });
            });
        });
    </script>

{%endblock %}