{% extends 'accounts/production_manager_page.html' %}

  {% block content %}

	<div class="wrapper container">
		<table class="striped" style = "font-size:12px;">
        	<thead>
          	<tr class = "row">
                <th>Control Number</th>
                <th>Date Issued</th>
				<th>Issued To</th>
                <th>Brand</th>
                <th>Quantity</th>
                <th>Used For</th>
                <th>Status</th>
          	</tr>
    		</thead>
    		<tbody>
				{% for mr in mr %}
    			<tr class = "row">
                    <td> 
                        <a href="{% url 'inventory:materials_requisition_details' mr.id %}">{{ mr }}</a>
                    </td>
                    <td>{{ mr.date_issued }}</td>
                    <td>{{ mr.issued_to }}</td>
					<td>{{ mr.brand }}</td>
                    <td>{{ mr.quantity }}</td>
                    <td>{{ mr.to_be_used_for }}</td>
                    <td>{{ mr.approval }}</td>
    			</tr>
				{% endfor %}
			</tbody>
    	</table>
	</div>

{% endblock %}