{% extends 'production_manager_page_ui.html' %}

  {% block content %}

	<div class="ui container">
		<h2 class="ui header">{{ title }}</h2>
		<table class="ui striped table">
        	<thead>
          	<tr class = "row">
                <th>Control Number</th>
                <th>Date Issued</th>
				<th>Issued To</th>
				<th>Shift</th>
                <th>Status</th>
          	</tr>
    		</thead>
    		<tbody>
			{% if mr %}
				{% for mr in mr %}
    			<tr class = "row">
                    <td> 
                        <a href="{% url 'inventory:materials_requisition_details' mr.id %}">{{ mr }}</a>
                    </td>
                    <td>{{ mr.date_issued }}</td>
					<td>{{ mr.issued_to }}</td>
					<td>{{ mr.shift }}</td>
                    <td>{{ mr.status }}</td>
    			</tr>
				{% endfor %}
			{% else %}
			<td>
				<p>There are no Material Requisitions to display</p>
			</td>
			{% endif %}
			</tbody>
    	</table>
	</div>

{% endblock %}