{% extends 'accounts/production_manager_page.html' %}

{% block content %}
<div id="basic-form" class="section">
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card-panel">
          {% csrf_token %}
        <h4 class="header1">{{ title }}</h4>
        <div class="row">
          <ul class="collection with-header">
            <ul class="collection-item">
                <li class="collection-item">
                  <div class="row">
                      <div class = "col s6">
                        <label for="">Date Issued</label>
                        <span>{{ mr.date_issued }}</span>
                      </div>
                      <div class = "col s6">
                          <label for="">Status:</label>
                          <span>{{ mr.approval }}</span>
                      </div>
                  </div>
                  <div class="row">
                      <div class = "col s6">
                          <label for="">Issued to:</label>
                          <span>{{ mr.issued_to }}</span>
                      </div>
                      <div class = "col s6">
                          <label for="">Shift:</label>
                          <span>{{ mr.shift }}</span>
                      </div>
                  </div>
                  <div class="row">
                      <div class = "col s6">
                          <label for="">Brand:</label>
                          <span>{{ mr.brand }}</span>
                      </div>
                      <div class = "col s6">
                          <label for="">Description:</label>
                          <span>{{ mr.description }}</span>
                      </div>
                  </div>
                  <div class="row">
                      <div class = "col s6">
                          <label for="">Quantity:</label>
                          <span>{{ mr.quantity }}</span>
                      </div>
                      <div class = "col s6">
                          <label for="">To be Used for:</label>
                          <span>{{ mr.to_be_used_for }}</span>
                      </div>
                  </div>
                </li>
            </ul>
            
        </div>
    </div>            
  </div>
 </div>
</div>


{% endblock %}