{% extends 'production_manager_page_ui.html' %}

{% block content %}

<div class = "ui centered grid">
    <div class="six wide tablet ten wide computer column">
        <form class="ui form segment" action = "{% url 'inventory:materials_requisition_approval' pr.id%}" method="POST" role="form">
            <h2 class="ui header">{{ title }}</h2>
            {% csrf_token %}
            <div class="two fields">
                <div class = "field">
                    <label for="">Date Issued</label>
                    <span>{{ pr.date_issued }}</span>
                </div>
                <div class = "field">
                    <label for="">Date Required:</label>
                    <span>{{ pr.date_required }}</span>
                </div>
            </div>
            <div class="two fields">
                <div class = "field">
                    <label for="">Place By:</label>
                    <span>{{ pr.placed_by }}</span>
                </div>
                <div class = "field">
                    <label for="">Status:</label>
                    <span>{{ pr.status }}</span>
                </div>
            </div>
            <table class="ui table">
                <thead>
                    <th class="eight wide">Item</th>
                    <th class="eight wide">Quantity</th>
                </thead>
                <tbody>
                    {% for pri in pri %}
                    <tr>
                        <td>{{ pri.item }}</td>
                        <td>{{ pri.quantity }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class = "ui centered grid" style = "padding:10px;">
                    <input class ="ui positive basic button" style = "margin:5px;" type ="submit" value="Approve" name = "approve">
                    <input class ="ui negative basic button" style = "margin:5px;" type ="submit" value = "Decline" name = "decline">
            </div>
        </form>
        <a href="{% url 'inventory:purchase_requisition_list'%}">Back</a>
    </div>
</div>

{% endblock %}