{% extends 'sidebar.html' %}

  {% block content %}
<h3 class="ui dividing header">{{ title }}</h3>
		<div class="ui grid">
			<div class="eight wide column">
					<h2 class="ui header">Products</h2>
					<table class="ui stripped table">
						<thead>
						  <tr class = "row">
							<th class="six wide">Type</th>
							<th class="four wide">Price per piece</th>
						  </tr>
						</thead>
						<tbody>
						{% if items %}
							{% for items in items %}
							<tr class = "row">
								{% if items.item_type == "Raw Materials" %}
									<td>{{ items.rm_type }}</td>		
								{% else %}
									<td>{{ items.item }}</td>
								{% endif %}
								<td>{{ items.price }}</td>
							</tr>
							{% endfor %}
						{% else %}
						<td>
							<p>Nothing to display!</p>
						</td>
						{% endif %}
						</tbody>
					</table>
			</div>
			<div class="eight wide column">
				<h2 class="ui header">Supplier POs Issued</h2>
				<table class="ui stripped table">
					<thead>
						<tr class = "row">
						<th>PO#</th>
						<th>Date</th>
						<th>Total Amount</th>
						</tr>
					</thead>
					<tbody>
					{% if data %}
						{% for data in data %}
						<tr class = "row">
							<td><a href="{% url 'inventory:supplierPO_details' data.id %}">{{ data }}</a></td>
							<td>{{ data.date_issued }}</td>
							<td>{{ data.total_amount }}</td>
						</tr>
						{% endfor %}
					{% else %}
					<td>
						<p>Nothing to display!</p>
					</td>
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>	
 <!-- Modal Confirm Delete -->
	 <!-- <div class="ui modal">
		<div class="header">Header</div>
		<div class="content">
			<p></p>
		</div>
		<div class="actions">
			<div class="ui approve button">Approve</div>
			<div class="ui button">Neutral</div>
			<div class="ui cancel button">Cancel</div>
		</div>
	</div> -->

	
	{% block script %}
	{% endblock %}
	
{% endblock %}