{% extends 'accounts/production_manager_page.html' %}

{% block content %}

<div id="basic-form" class="section">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <h4 class="header1">{{ title }}</h4>
                    <div class="row">
                        <form class="col s12" action = "#" method="POST" role="form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <!-- <select name="supplier" id="supplier" value="{{supplier.company_name}}">
                                        {% for supplier in supplier %}
                                        <option value="{{supplier.company_name}}">
                                            {{ supplier.company_name }}
                                        </option>
                                        {% endfor %}
                                    </select> -->
                                    
                                    {{form.supplier}}
                                    <label for="supplier">Supplier</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.item_name }}
                                    <label for="item_name">Item Name:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.item_type }}
                                    <label for="item_type">Item Type:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.price }}
                                    <label for="price">Price:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.description }}
                                    <label for="description">Description:</label>
                                </div>
                            </div>        
                            <div class="row">
                                <div class="center">
                                    <button class="btn btn-small green" type="submit">{{ actiontype }}</button>
                                    <button class="btn btn-small red" typle="clear">Clear</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
</div>

{% endblock %}