{% extends 'sidebar.html' %}
{% block content %}
<h3 class="ui dividing header">{{ title }}</h3>
		<table class="ui striped table">
        	<thead>
          	<tr class = "row">
                <th>Supplier PO</th>
                <th>Date Issued</th>
                <th>Supplier</th>
                <th>Delivery Date</th>
                <th>For Job Order</th>
                <th>Total Amount</th>
                <th>Status</th>

          	</tr>
    		</thead>
    		<tbody>
			{% if mr %}
				{% for mr in mr %}
    			<tr class = "row">
                    <td> 
                        <a href="{% url 'inventory:supplierPO_details' mr.id %}">{{ mr }}</a>
                    </td>
					<td>{{ mr.date_issued }}</td>
                    <td>{{ mr.supplier }}</td>
                    <td>{{ mr.delivery_date }}</td>
					<td>
                     {% if mr.client_po %}
                            <a href="{% url 'production:job_order_details' mr.client_po_id %}">{{mr.client_po_id}}</a>
                        {% else %}
                        N/A
						{% endif %}
                    </td>
                    <td>{{ mr.total_amount }}</td>
                   <td>{% for x in received %}
						{% if x.spo_count_id == mr.id %}
						Received
						{% endif %}
					{% endfor %}</td>
    			</tr>
				{% endfor %}
			{% else %}

			<td>
				<p>There are no Supplier POs to display.</p>
			</td>

			{% endif %}
			</tbody>
    	</table>
{% endblock %}