{% extends 'sidebar.html' %}
{% block content %}
<h3 class="ui dividing header">Supplier Purchase Order</h3>

<form id="myForm" class="ui form" action="{% url 'inventory:supplierPO_form' %}" method="post" enctype="multipart/form-data">

<div>


    {% csrf_token %}
    {% include 'inventory/template_form.html' %}
</div>
<table class = "ui striped table center aligned">
    <thead>
    <tr>
        <th class="four wide">Item</th>
        <th class="two wide">Quantity</th>
    </tr>
    </thead>
    <tbody>
        {% for form in formset %}

        <tr id="{{ form.prefix }}-row" class="formset_class">
            {% if form.instance.pk %}
                {{ form.DELETE }}
            {% endif %}
            <td>{{form.item}}</td>
            <td>{{form.quantity}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2">
            </th>
        </tr>
    </tfoot>
</table>


<button type="submit" class="ui small green button" onclick="return confirm('Are you sure?')">Submit</button>
</form>

{% endblock %}

{% block script %}

    <script>
        $( document ).ready(function() {
            $(function() {
                $('#myForm .formset_class').formset({
                    prefix: '{{ formset.prefix }}'
                });            
            })

            $('#supplier').on('change', function() {
                alert( this.value );

            });
                
        });
    </script>

{%endblock %}