{% extends 'accounts/production_manager_page.html' %}

  {% block content %}

	<div class="wrapper container">
		<table class="striped" style = "font-size:12px;">
        	<thead>
          	<tr class = "row">
                <th>Item</th>
				<th>Item Type</th>
                <th>Price</th>
                <th>Supplier</th>
          	</tr>
    		</thead>
    		<tbody>
				{% for items in items %}
    			<tr class = "row">
    				<td>{{ items.item_name }}</td>
                    <td>{{ items.item_type }}</td>
					<td>{{ items.price }}</td>
					<td>{{ items.supplier }}</td>
                    <td>
                        <a class="amber btn" href="{% url 'inventory:supplier_item_edit' items.id %}" style="font-size:12px;">View</a>
                        <a class="red btn" href="{% url 'inventory:supplier_item_delete' items.id %}" style="font-size:12px;">Delete</a>
                    </td>
    			</tr>
				{% endfor %}
			</tbody>
    	</table>
	</div>

{% endblock %}