<form id="{{ form.prefix }}-row" class="formset_class">
    {% for form in formset %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% for field in form %}
        {% if form.instance.pk %}
        {{ form.DELETE }}
    {% endif %}
    <span class ="text-danger small">{{field.errors}}</span>
        <tr>
            <th>{{field.label_tag}}</th>
        </tr>
        <tr>
            <td>{{field}}</td>
            {% for item in item %}
                <option value="{{ item.id }}">{{ item.item_name }}</option>
            {% endfor %}
    {% endfor %}
        </tr>
    {% endfor %}
</form>