{% extends 'sidebar.html' %}
{% block content %}

<h3 class="ui dividing header">Job Order # {{ id }}</h3>

<div class="ui inverted segment">
    <form class="ui inverted form" action = "#" method="POST" role="form">
        {% csrf_token %}
        <div class="five fields">
            <div class = "field">
                <label>Job Order #:</label>
                {{ form.job_order }}
            </div>
            <div class = "field">
                <label>Machine #:</label>
                {{ form.machine }}
            </div>
            <div class = "field">
                <label>Operator:</label>
                {{ form.operator }}
            </div>
            <div class="field">
                <label>Shift:</label>
                {{ form.shift }}
            </div>
            <div class="field">
                <div class="row center aligned">
                    <label>Last Batch:</label><br>
                    {{ form.final }}
                </div>
            </div>
        </div>
        <div class = "two fields">
            <div class="field">
                <label>Date and Time In (DD-MM-YYYY HH:MM):</label>
                {{ form.datetime_in }}
            </div>
            <div class="field">
                <label>Date and Time Out (DD-MM-YYYY HH:MM):</label>
                {{ form.datetime_out }}
            </div>
        </div>
        <div class="six fields">
            <div class="field">
                <label>Weight Rolls:</label>
                {{ form.weight_rolls }}
            </div>
            <div class="field">
                <label>Core Weight:</label>
                {{ form.core_weight }}
            </div>
            <div class="field">
                <label>Output Kilos:</label>
                {{ form.output_kilos }}
            </div>
            <div class="field">
                <label>No. of Rolls:</label>
                {{ form.number_rolls }}
            </div>
            <div class="field">
                <label>Starting Scrap:</label>
                {{ form.starting_scrap }}
            </div>
            <div class="field">
                <label>Printing Scrap:</label>
                {{ form.printing_scrap }}
            </div>
        </div>
        <div class="field">
            <label>Remarks:</label>
            {{ form.remarks }}
        </div>
        <div>
            <div class = "row">
                <button class="ui green small button" type="submit">Submit</button>
                <button class="ui yellow small button" type="reset">Clear</button>
            </div>
        </div>

    </form>
</div>



{% block script %}
    <script type="text/javascript">
        $(function() {
            $('#myForm .formset_class').formset({
                prefix: '{{ formset.prefix }}'
            });
        })

    </script>

{% endblock %}

{% endblock %}