{% extends 'sidebar.html' %}

{% block content %}

 <h3 class="ui dividing header">Cutting Machine Schedule</h3>

<div class="ui container" style="margin-top:20px; margin-bottom: 15px;">
    <div class="ui five buttons">
        <a class="ui basic black button" href="{% url 'production:production_schedule' %}">Overall Production Schedule</a>
        <a class="ui basic black button" href="{% url 'production:extruder_machine_schedule' %}">Extruder Machine Schedule</a>
        <a class="ui basic black button" href="{% url 'production:printing_machine_schedule' %}">Printing Machine Schedule</a>
        <a class="ui basic black button" href="{% url 'production:laminating_machine_schedule' %}">Laminating Machine Schedule</a>
        <a class="ui basic black button" href="{% url 'production:cutting_machine_schedule' %}">Cutting Machine Schedule</a>
    </div>
</div>



<div>
    <div class="ui top attached tabular menu">
        <div class="active item" data-tab="first">Week of {{ today }}</div>
        <div class="item" data-tab="second">
        {% if today.month == 1 %}
            January {{ today.year }}
        {% elif today.month == 2 %}
            February {{ today.year }}
        {% elif today.month == 3 %}
            March {{ today.year }}
        {% elif today.month == 4 %}
            April {{ today.year }}
        {% elif today.month == 5 %}
            May {{ today.year }}
        {% elif today.month == 6 %}
            June {{ today.year }}
        {% elif today.month == 7 %}
            July {{ today.year }}
        {% elif today.month == 8 %}
            August {{ today.year }}
        {% elif today.month == 9 %}
            September {{ today.year }}
        {% elif today.month == 10 %}
            October {{ today.year }}
        {% elif today.month == 11 %}
            November {{ today.year }}
        {% elif today.month == 12 %}
            December {{ today.year }}
        {% endif %}
        </div>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">
        <div style="overflow-x: scroll">
            <table class="ui celled center aligned table">
                <thead>
                    <tr>
                       <th class="two wide" rowspan="2">Machine</th>
                        {% for a in week %}
                        <th colspan="3">{{ a }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for a in week %}
                            {% for day in day %}
                            <th rowspan="2">{{day}}</th>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="top aligned">

                    {% for machine in machines %}

                    <tr>

                        <td style="">

                            <a href="#">Machine {{machine.machine_id}} : {{machine.machine_type}}</a>
                            {% if machine.state == 'OK' %}
                            <i class="green check circle outline icon"></i>
                            {% else %}
                            <i class="red times circle outline icon"></i>
                            {% endif %}

                        </td>

                        {% for a in week %}

                            {% for b in day %}

                                <td class="top aligned">

                                    {% for c in this_day %}
                                            {% if c.Machine == machine and c.Start.date == a and c.Start.time == b %}

                                                    {% if c.Task == 'Extrusion' %}
                                                        <div style="margin-top: -22px;"><a class="mini ui blue circular label">{{machine}}</a></div>
                                                    {% elif c.Task == 'Printing' %}
                                                        <div style="margin-top: -22px;"><a class="mini ui yellow circular label">{{machine}}</a></div>
                                                    {% elif c.Task == 'Laminating' %}
                                                        <div style="margin-top: -22px;"><a class="mini ui red circular label">{{machine}}</a></div>
                                                    {% elif c.Task == 'Cutting' %}
                                                        <div style="margin-top: -22px;"><a class="mini ui green circular label">{{machine}}</a></div>
                                                    {% endif %}

                                                    <div class="ui mini message" style="width: 100px">

                                                    <a href="{% url 'production:job_order_details' c.ID %}" class="ui black header" style="margin-bottom: -10px;">Job {{ c.ID }}</a><br>

                                                    {% for x in plot_list %}
                                                        {% if x.ID == c.ID and x.Machine == machine and x.Start.time == b and x.Start.date == a %}

                                                            <div>{{ x.Worker }}</div>

                                                        {% endif %}
                                                    {% endfor %}

                                                    <div style="background-color: transparent; margin-right: -15px;" class="ui top right attached label"data-tooltip="
                                                        Raw Material: {{ c.Resource }},
                                                        {% for i in items %}
                                                        {% for j in products %}
                                                        {% if i.client_po_id == c.ID %}
                                                        {% if j.id == i.products_id %}
                                                        Item and quantity: {{j.products}} x {{ i.quantity }}
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endfor %}
                                                        "
                                                        {% if c.Start.date == week|first %}
                                                            data-position="right center">
                                                        {% elif c.Start.date == week|last %}
                                                            data-position="left center">
                                                        {% else %}
                                                            data-position="bottom center">
                                                        {% endif %}
                                                        <i class="question circle icon"></i>
                                                    </div>
                                                </div>
                                            {% endif %}
                                    {% endfor %}

                                </td>

                            {% endfor %}

                        {% endfor %}

                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <div style="overflow-x: scroll">
            <table class="ui celled center aligned table">
                <thead>
                    <tr>
                       <th class="two wide" rowspan="2">Machine</th>
                        {% for a in month %}
                        <th colspan="3">{{ a }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for a in month %}
                            {% for day in day %}
                            <th>{{day}}</th>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="top aligned">

                    {% for machine in machines %}

                    <tr>

                        <td>

                            <a href="#">Machine {{machine.machine_id}} : {{machine.machine_type}}</a>
                            {% if machine.state == 'OK' %}
                            <i class="green check circle outline icon"></i>
                            {% else %}
                            <i class="red times circle outline icon"></i>
                            {% endif %}

                        </td>

                        {% for a in month %}

                            {% for b in day %}

                                <td class="top aligned">
                                    {% for c in this_day %}
                                        {% if c.Machine == machine and c.Start.date == a and c.Start.time == b %}

                                                {% if c.Task == 'Extrusion' %}
                                                    <div style="margin-top: -22px;"><a class="mini ui blue circular label">{{machine}}</a></div>
                                                {% elif c.Task == 'Printing' %}
                                                    <div style="margin-top: -22px;"><a class="mini ui yellow circular label">{{machine}}</a></div>
                                                {% elif c.Task == 'Laminating' %}
                                                    <div style="margin-top: -22px;"><a class="mini ui red circular label">{{machine}}</a></div>
                                                {% elif c.Task == 'Cutting' %}
                                                    <div style="margin-top: -22px;"><a class="mini ui green circular label">{{machine}}</a></div>
                                                {% endif %}

                                                <div class="ui mini message" style="width: 100px">

                                                    {% for x in plot_list %}
                                                            {% if x.ID == c.ID and x.Machine == machine and x.Start.time == b and x.Start.date == a %}

                                                                <a href="{% url 'production:job_order_details' c.ID %}" class="ui black header" style="margin-bottom: -10px;">Job {{ c.ID }}</a><br>
                                                                <div>{{ x.Worker }}</div>
                                                                <div style="background-color: transparent; margin-right: -15px;" class="ui top right attached label"data-tooltip="
                                                                    Raw Material: {{ c.Resource }},
                                                                    {% for i in items %}
                                                                    {% for j in products %}
                                                                    {% if i.client_po_id == c.ID %}
                                                                    {% if j.id == i.products_id %}
                                                                    Item and quantity: {{j.products}} x {{ i.quantity }}
                                                                    {% endif %}
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                    {% endfor %}
                                                                    "
                                                                    {% if c.Start.date == month|first %}
                                                                        data-position="right center">
                                                                    {% elif c.Start.date == month|last %}
                                                                        data-position="left center">
                                                                    {% else %}
                                                                        data-position="bottom center">
                                                                    {% endif %}
                                                                    <i class="question circle icon"></i>
                                                                </div>

                                                            {% endif %}
                                                    {% endfor %}

                                                </div>
                                        {% endif %}
                                    {% endfor %}


                                </td>

                            {% endfor %}

                        {% endfor %}

                    </tr>

                    {% endfor %}


                </tbody>
            </table>
            </div>
        </div>
    </div>

{% endblock %}