{% extends 'sidebar.html' %}

{% block content %}

    <h3 class="ui dividing header">Extruder Machine Schedule</h3>

    <div class="ui container" style="margin-top:20px; margin-bottom: 15px;">
        <div class="ui five buttons">
            <a class="ui basic black button" href="{% url 'production:production_schedule' %}">Overall Production Schedule</a>
            <a class="ui basic black button" href="{% url 'production:extruder_machine_schedule' %}">Extruder Machine Schedule</a>
            <a class="ui basic black button" href="{% url 'production:printing_machine_schedule' %}">Printing Machine Schedule</a>
            <a class="ui basic black button" href="{% url 'production:laminating_machine_schedule' %}">Laminating Machine Schedule</a>
            <a class="ui basic black button" href="{% url 'production:cutting_machine_schedule' %}">Cutting Machine Schedule</a>
        </div>
    </div>

    <div style="height: 100%; width: 200%">
        {{extruder_gantt|safe}}
    </div>
{% endblock %}