
{% extends 'sidebar.html' %}
{% block content %}
<html>
<h3 class="ui dividing header">Finished Job Order Report</h3>

    <table class = "ui striped table center aligned">
        <thead>
            <tr>
                <th>Purchase Order ID</th>
                <th>Client</th>
                <th>Sales Invoice Issued</th>
                <th>Dispatch Status</th>
                <th>Date Delivered</th>

            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for JobOrder in object_list %}
                <tr>
                    <td><a href="{% url 'production:job_order_details' JobOrder.id %}">{{ JobOrder.id }}</a></td>
                    <td>{{ JobOrder.client }}</td>
                    <td>{% for y in invoice %}
                            {% if y.client_po_id == JobOrder.id %}
                            <a href="{% url 'sales:sales_invoice_details' y.id %}">SI # {{ y.id }}</a> </td>
                            {% endif %}
                        {% endfor %}
                    <td>
                        {% if JobOrder.status == "Ready for delivery" %}
        <form method="post">
                {% csrf_token %}

                    <input type="submit" class="ui green basic button" value="Confirm Dispatch" id="confirm_btn" name="confirm_btn">

            </form>
                        {% else %}
                        Already delivered
                    {% endif %}
                    </td>
                    <td>
                        {% if JobOrder.date_delivered is not None %}
                        {{ JobOrder.date_delivered }}
                        {% else %}
                        N/A
                        {% endif %}

                    </td>

                </tr>
                {% endfor %}
            {% else %}
            <td>
                <p>There are no Job Orders to display</p>
            </td>
			{% endif %}


        </tbody>
    </table>

{% endblock %}
</html>