{% extends 'sidebar.html' %}

{% block content %}
<h3 class="ui dividing header">Job Order Details</h3>
    <div class="six wide tablet sixteen wide computer column">
        <form id = "myForm" class="ui form segment" action = "" method="POST" role="form">
            {% csrf_token %}
            <h2 class="ui header">JO #: {{ title }}</h2>
            <div class = "four fields">
                <div class="field">
                    <label for="">Date Issued</label>
                    <span>{{ data.date_issued }}</span>
                </div>
                <div class="field">
                    <label>Date Due</label>
                    <span>{{ data.date_required }}</span>
                </div>
                <div class = "field">
                    <label for="">Total Amount</label>
                    <span>{{ data.total_amount }}</span>
                </div>
                <div class = "field">
                    <label for="">Status</label>
                    <span id = "status">{{ data.status }}</span>
                </div>
            </div>
            <div class="five fields">
                <div class = "field">
                    <label for="">Client PO</label>
                    <span>{{ data }}</span>
                </div>
                <div class = "field">
                    <label for="">Client</label>
                    <span>{{ data.client }}</span>
                </div>
                <div class = "field">
                    <label for="">Rush Order</label>
                    <span>{% if data.rush_order == 0 %}
                            No
                            {% else %}
                            Yes</span>
                    {% endif %}
                </div>
                <div class = "field">
                    <label for="">Payment Terms</label>
                    <span>{{ data.client.payment_terms }}</span>
                </div>
                <div class = "field">
                    <label for="">Items</label>
                    <span>{% for x in items %}
                        {{ x.quantity }} {{ x.products }}
                    {% endfor %}</span>
                </div>
            </div>
            <div class="field">
                <label for="">Remarks</label>
                <span>{{ form.remarks }}</span>
            </div>

            <button class="ui green basic button" type="submit">Edit</button>
        </form>
    </div>

<div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">Extrusion</a>
       {% if x.printed == 1 and x.laminate == 1%}
        <a class="item" data-tab="second">Printing</a>
        <a class="item" data-tab="third">Laminating</a>

        {% elif x.printed == 1 %}
        <a class="item" data-tab="second">Printing</a>
        {% elif x.laminate == 1 %}
        <a class="item" data-tab="third">Laminating</a>
        {% else %}
        {% endif %}
    <a class="item" data-tab="fourth">Cutting</a>
</div>

<div class="ui bottom attached active tab segment" data-tab="first">
     <!--Extrusion Schedule-->
    <div class="ui container" style = "font-size: 12px;">
        <h4 class="ui block inverted header">Extrusion Schedule</h4>
        <table class="ui striped table">
            <thead>
                <th>Machine</th>
                <th>Datetime In</th>
                <th>Datetime Out</th>
                <th>Weight Rolls</th>
                <th>Core Weight</th>
                <th>Net Weight</th>
                <th>Output Kilos</th>
                <th>Number Rolls</th>
                <th>Starting Scrap</th>
                <th>Extruder Scrap</th>
                <th>Balance</th>
                <th>Remarks</th>
            </thead>
            <tbody>
                {% for e in extrusion %}
                <tr>
                    <td>{{ e.machine }}</td>
                    <td>{{ e.datetime_in }}</td>
                    <td>{{ e.datetime_out }}</td>
                    <td>{{ e.weight_rolls }}</td>
                    <td>{{ e.core_weight }}</td>
                    <td>{{ e.net_weight }}</td>
                    <td>{{ e.output_kilos }}</td>
                    <td>{{ e.number_rolls }}</td>
                    <td>{{ e.starting_scrap }}</td>
                    <td>{{ e.extruder_scrap }}</td>
                    <td>{{ e.balance }}</td>
                    <td>{{ e.remarks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
    <!--Printing Schedule-->
    <div class="ui container" style = "font-size: 12px;">
        <h4 class="ui block inverted header">Printing Schedule</h4>
        <table class="ui striped table">
            <thead>
                <th>Machine</th>
                <th>Datetime In</th>
                <th>Datetime Out</th>
                <th>Number Rolls</th>
                <th>Starting Scrap</th>
                <th>Printing Scrap</th>
                <th>Remarks</th>
            </thead>
            <tbody>
                {% for p in printing %}
                <tr>
                    <td>{{ p.machine }}</td>
                    <td>{{ p.datetime_in }}</td>
                    <td>{{ p.datetime_out }}</td>
                    <td>{{ p.number_rolls }}</td>
                    <td>{{ p.exit_scrap }}</td>
                    <td>{{ p.printing_scrap }}</td>
                    <td>{{ p.remarks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
    <!--Laminating Schedule-->
    <div class="ui container" style = "font-size: 12px;">
        <h4 class="ui block inverted header">Laminating Schedule</h4>
        <table class="ui striped table">
            <thead>
                <th>Machine</th>
                <th>Datetime In</th>
                <th>Datetime Out</th>
                <th>Quantity</th>
                <th>Starting Scrap</th>
                <th>Laminating Scrap</th>
                <th>Remarks</th>
            </thead>
            <tbody>
                {% for l in laminating %}
                <tr>
                    <td>{{ l.machine }}</td>
                    <td>{{ l.datetime_in }}</td>
                    <td>{{ l.datetime_out }}</td>
                    <td>{{ l.quantity }}</td>
                    <td>{{ l.starting_scrap }}</td>
                    <td>{{ l.laminating_scrap }}</td>
                    <td>{{ l.remarks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="fourth">
    <!--Cutting Schedule-->
    <div class="ui container" style = "font-size: 12px;">
        <h4 class="ui block inverted header">Cutting Schedule</h4>
        <table class="ui striped table">
            <thead>
                <th>Machine</th>
                <th>Datetime In</th>
                <th>Datetime Out</th>
                <th>Line</th>
                <th>Quantity</th>
                <th>Output Kilos</th>
                <th>Number Rolls</th>
                <th>Starting Scrap</th>
                <th>Cutting Scrap</th>
                <th>Remarks</th>
            </thead>
            <tbody>
                {% for c in cutting %}
                <tr>
                    <td>{{ c.machine }}</td>
                    <td>{{ c.datetime_in }}</td>
                    <td>{{ c.datetime_out }}</td>
                    <td>{{ c.line }}</td>
                    <td>{{ c.quantity }}</td>
                    <td>{{ c.output_kilos }}</td>
                    <td>{{ c.number_rolls }}</td>
                    <td>{{ c.exit_scrap }}</td>
                    <td>{{ c.cutting_scrap }}</td>
                    <td>{{ c.remarks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<a href="{% url 'production:job_order_list' %}">Back</a>
{% endblock %}

{% block script %}

    <script>
        $( document ).ready(function() {
            
            $(function() {
                $('.menu .item').tab();         
            })
            
            $(function() {
                if($('#status').text()=='On Queue'){
                    $('#approve_btn').hide();
                }
            });

        });
    </script>

{%endblock %}