{% extends 'sidebar.html' %}

  {% block content %}

        <h3 class="ui dividing header">{{ title }}</h3>
		<table class="ui stripped table center aligned">
        	<thead>
          	<tr>
                <th class="two wide">Job Order #</th>
				<th class="three wide">Client PO #</th>
				<th class="one wide">Rush Order</th>
                <th class="two wide">Status</th>
                <th class="seven wide">Update Production</th>
          	</tr>
    		</thead>
    		<tbody>
            {% if data %}
                {% for data in data %}
                <tr class = "row">
                    <td> 
                        <a href="{% url 'production:job_order_details' data.id %}">{{ data }}</a>
                    </td>
                    <td>{{ data }}</td>
                    <td>
                        {% if data.rush_order == 0 %}
                            No
                            {% else %}
                            Yes
                        {% endif %}
                    </td>
                    <td>{{ data.status }}</td>
                    <td class="center aligned">
                        {% if data.status == 'On Queue' %}
                            <a class="ui small blue button" href="{% url 'production:add_extruder_schedule' data.id %}">Extrusion</a>
                            <a class="ui small yellow button" style="pointer-events: none" href="{% url 'production:add_printing_schedule' data.id %}">Printing</a>
                            <a class="ui small green button" style="pointer-events: none" href="{% url 'production:add_cutting_schedule' data.id %}">Cutting</a>
                            <a class="ui small red button" style="pointer-events: none" href="{% url 'production:add_laminating_schedule' data.id %}">Laminating</a>
                        {% elif data.status == 'Under Printing'%}
                            <a class="ui small blue button" style="pointer-events: none" href="{% url 'production:add_extruder_schedule' data.id %}">Extrusion</a>
                            <a class="ui small yellow button" href="{% url 'production:add_printing_schedule' data.id %}">Printing</a>
                            <a class="ui small green button" style="pointer-events: none" href="{% url 'production:add_cutting_schedule' data.id %}">Cutting</a>
                            <a class="ui small red button" style="pointer-events: none" href="{% url 'production:add_laminating_schedule' data.id %}">Laminating</a>
                        {% elif data.status == 'Under Cutting' %}
                            <a class="ui small blue button" style="pointer-events: none" href="{% url 'production:add_extruder_schedule' data.id %}">Extrusion</a>
                            <a class="ui small yellow button" style="pointer-events: none" href="{% url 'production:add_printing_schedule' data.id %}">Printing</a>
                            <a class="ui small green button" href="{% url 'production:add_cutting_schedule' data.id %}">Cutting</a>
                            <a class="ui small red button" style="pointer-events: none" href="{% url 'production:add_laminating_schedule' data.id %}">Laminating</a>
                        {% elif data.status == 'Under Cutting' %}
                            <a class="ui small blue button" style="pointer-events: none" href="{% url 'production:add_extruder_schedule' data.id %}">Extrusion</a>
                            <a class="ui small yellow button" style="pointer-events: none" href="{% url 'production:add_printing_schedule' data.id %}">Printing</a>
                            <a class="ui small green button" style="pointer-events: none" href="{% url 'production:add_cutting_schedule' data.id %}">Cutting</a>
                            <a class="ui small red button"href="{% url 'production:add_laminating_schedule' data.id %}">Laminating</a>

                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% else %}
            <td>
                <p>There are no Job Orders to display</p>
            </td>
            {% endif %}

			</tbody>
    	</table>

	{% block script %}



{% endblock %}

{% endblock %}