{% extends 'sidebar.html' %}

{% block content %}

    <h3 class="ui dividing header"> Laminating Machine Schedule</h3>

    <div class="ui container" style="margin-top:20px; margin-bottom: 15px;">
        <div class="ui five buttons">
            <a class="ui basic black button" href="{% url 'production:production_schedule' %}">Overall Production Schedule</a>
            <a class="ui basic black button" href="{% url 'production:extruder_machine_schedule' %}">Extruder Machine Schedule</a>
            <a class="ui basic black button" href="{% url 'production:printing_machine_schedule' %}">Printing Machine Schedule</a>
            <a class="ui basic black button" href="{% url 'production:laminating_machine_schedule' %}">Laminating Machine Schedule</a>
            <a class="ui basic black button" href="{% url 'production:cutting_machine_schedule' %}">Cutting Machine Schedule</a>
        </div>
    </div>

    <div>
        <button class="ui yellow compact button" id="laminating_save_btn">Save</button>
        <span data-tooltip="Click this button to save the information" data-position="right center" data-inverted="" data-variation="mini">
            <i class="yellow circular question mark icon"></i>
        </span>
    </div>

    <div style="height: 100%; width: 100%">
        {{laminating_gantt|safe}}
    </div>

{% endblock %}