{% extends 'sidebar.html' %}
{% block content %}
 <h3 class="ui dividing header"> Overall Production Schedule</h3>

    <div class="ui container" style="margin-top:20px; margin-bottom: 15px;">
        <div class="ui five buttons">
            <a class="ui basic black button" href="{% url 'production:production_schedule' %}">Overall Production Schedule</a>
            <a class="ui basic black button" href="{% url 'production:extruder_machine_schedule' %}">Extruder Machine Schedule</a>
            <a class="ui basic black button" href="{% url 'production:printing_machine_schedule' %}">Printing Machine Schedule</a>
            <a class="ui basic black button" href="{% url 'production:laminating_machine_schedule' %}">Laminating Machine Schedule</a>
            <a class="ui basic black button" href="{% url 'production:cutting_machine_schedule' %}">Cutting Machine Schedule</a>
        </div>
    </div>

    <div style="height: 100%; width: 100%">
        	<div class="ui top attached tabular menu">
	  <div class="active item" data-tab="first">Week</div>
		<div class="item" data-tab="second">Month</div>
	</div>
	<div class="ui bottom attached active tab segment" data-tab="first">

		<table class="ui striped center aligned table">
			<thead>
				<tr>
					<th colspan="1">Machine</th>
					<th colspan="1000">Task</th>
				</tr>
			</thead>
			<tbody>
					{% for x in machines %}
							<tr>
									<td>
										<a href="">{{x.id}}</a>
										{% if x.state == 'OK' %}
										<i class="green check circle outline icon"></i>
										{% else %}
										<i class="red times circle outline icon"></i>
										{% endif %}
									</td>
									{% for i in this_week %}
                                        {% if i.Machine == x.id %}
                                            <td>
                                                <a href="{% url 'production:job_order_details' i.ID %}">{{ i.ID }}</a><br>
                                                {{ i.Worker }}<br>
                                                {{ i.Resource }}<br>
                                                {{ i.Start }} to {{ i.Finish }}<br>

                                                <div id="{{i.ID}}-week" class="ui active progress">
                                                  <div class="bar">
                                                    <div class="progress"></div>
                                                  </div>
                                                </div>

                                                <script>
                                                    $('#{{i.ID}}-week').progress({
                                                      percent: 10
                                                    });
                                                </script>
                                            </td>
                                        {% endif %}
									{% endfor %}
							</tr>
					{% endfor %}
			</tbody>
		</table>

	</div>
	<div class="ui bottom attached tab segment" data-tab="second">

		<table class="ui striped center aligned table">
			<thead>
				<tr>
					<th colspan="1">Machine Number</th>
					<th colspan="1000">Task</th>
				</tr>
			</thead>
			<tbody>
					{% for y in machines %}
							<tr>
                                <td>
                                    <a href="">{{y.id}}</a>
                                    {% if y.state == 'OK' %}
                                    <i class="green check circle outline icon"></i>
                                    {% else %}
                                    <i class="red times circle outline icon"></i>
                                    {% endif %}
                                </td>
                                {% for j in this_month %}
                                    {% if j.Machine == y.id %}
                                            <td>
                                                <a href="{% url 'production:job_order_details' j.ID %}">{{ j.ID }}</a><br>
                                                {{ j.Worker }}<br>
                                                {{ j.Resource }}<br>
                                                {{ j.Start }} to {{ j.Finish }}<br>

                                                <div id="{{j.ID}}-month" class="ui active progress">
                                                  <div class="bar">
                                                    <div class="progress"></div>
                                                  </div>
                                                </div>

                                                <script>
                                                    $('#{{j.ID}}-month').progress({
                                                      percent: 10
                                                    });
                                                </script>
                                                </td>
                                     {% endif %}
                                {% endfor %}
							</tr>
					{% endfor %}
			</tbody>
		</table>

	</div>

<script>
	$('.menu .item')
	  .tab()
	;
</script>

    </div>
{% endblock %}