
{% extends 'client_page_ui.html' %}

{% block content %}

<h2>Create PO Form</h2>

<form id="myForm" action="{% url 'sales:create-client-po-form' %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {% include 'sales/template_form.html' %}
            {% include 'sales/template_formset.html' %}

            {{formset.management_form}}
            <button type="submit" class ="btn btn-success">Submit</button>

</form>
{% endblock %}

{% block formset_script %}
<script type="text/javascript">
            $(function() {
                 $('#myForm .formset_class').formset({
                  prefix: '{{ formset.prefix }}'
                  });
                  })
    </script>
{%endblock %}