
{% extends "client_page_ui.html" %}

{% block content %}
<body>

	<div class="wrapper">
		<table>
        	<thead>
          	<tr>
          	  <th>Purchase Order ID</th>
              <th>Client</th>
              <th>Items</th>
              <th>Date Issued</th>
              <th>Date Required</th>
              <th>Date Laminate</th>
              <th>Date Confirmed</th>
              <th>Total Amount</th>
          	</tr>
    		</thead>
    		<tbody>
    		
    		    {% if all_PO %}
    				{% for ClientPO in all_PO %}
    			<tr>
    				<td>
    				<a href="{{ ClientPO.get_absolute_url }}"></a>
    				</td>
    				<td>
    				({{ ClientPO.client }})
    				</td>
    				<td>
    				{% for client_items in ClientPO.client_items.all %} #modify!
                        {{ client_items }}
                        <br/>
                        {% endfor %}
    				</td>
    				<td>
		          	({{ ClientPO.date_issued }})
    				</td>
    				<td>
    				({{ ClientPO.date_required }})
    				</td>
    				<td>
    				({{ ClientPO.laminate }})
    				</td>
    				<td>
    				({{ ClientPO.confirmed }})
    				</td>
    				<td>
    				({{ ClientPO.total_amount }})
    				</td>
    			</tr>
    		{% endfor %}
    		
    		{% else %}
      		<p>There are no Purchases Orders in the database.</p>
    
    		{% endif %}
			</tbody>
    	</table>
	</div>

</body>
{% endblock %}



