
    {% extends "client_page_ui.html" %}
    {% block content %}
<p>{{ ClientPO.id }}</p>
<body>
	<div class="wrapper">

		<table>
        	<thead>
          	<tr>
          	  <th>Laminate</th>
              <th>Width</th>
              <th>Length</th>
              <th>Color</th>
              <th>Gusset</th>
              <th>Quantity</th>
              <th>Item Price Sub-Total</th>
          	</tr>
    		</thead>
    		<tbody>


    				{% for ClientItem in ClientPO.client_item_set.all %}
    			<tr>
    				<td>
    				{{ ClientItem.laminate }}
    				</td>
    				<td>
		          	{{ ClientItem.width }}
    				</td>
    				<td>
    				{{ ClientItem.length}}
    				</td>
    				<td>
    				{{ ClientItem.color }}
    				</td>
    				<td>
    				{{ ClientItem.gusset}}
    				</td>
    				<td>
    				{{ ClientItem.quantity }}
    				</td>
                    <td>
    				{{ ClientItem.item_price}}
    				</td>
    			</tr>
    		{% endfor %}


			</tbody>
    	</table>
	</div>

</body>


    {% endblock %}      

    
    <!-- ================================================Scripts================================================ -->


    {% block script %}
    <script>
        $(document).ready(function(){
            $('#editBTN').click(function(){
            if($('#name').prop('disabled'))
            {
             $('#textfieldToClose').prop('disabled', false)
            }
            else{
                 $('#textfieldToClose').prop('disabled', true)
              }
            });
        })
    </script>
    {% endblock %}