{% extends 'sidebar.html' %}

  {% block content %}
	<h3 class="ui dividing header">{{ title }}</h3>
		<table class="ui stripped table center aligned">
        	<thead>
          	<tr>
          	  	<th>Person</th>
                <th>Company</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Sales Agent</th>
				<th></th>
          	</tr>
    		</thead>
    		<tbody>
			{% if data %}
				{% for data in data  %}
    			<tr>
    				<td>
						{{ data.full_name }}
					</td>
    				<td>{{ data.company }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.contact_number }}</td>
                    <td>{{ data.sales_agent }}</td>
					<td>
						<a href="{% url 'sales:client_edit' data.id %}">
							<i class="yellow edit icon"></i>
						</a>
					</td>
    			</tr>
				{% endfor %}
			{% else %}
			<td>
				<p>There are no Clients to display</p>
			</td>
			{% endif %}
			</tbody>
    	</table>
	
{% endblock %}
