{% block content %}

<div id="basic-form" class="sixteen wide column">

    <div class="row">
        <div class="five wide column">
            <h4 class="header1">Confirm Purchase Order</h4>

            <div class="row">

                <form>

                    <div class="row">
                        <div class="sixteen wide column">
                            <input id="name" type="text" disabled="true">
                            <label for="name">Company Name</label>
                        </div>
                    </div>
                    <div class="row">

                        <div class="sixteen wide column">
                            <input type="text" class="datepicker" placeholder="Date Needed" disabled="true">
                            <label for="dateSet">Date Needed</label>
                        </div>

                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Laminate</label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="sixteen wide column">
                            <input id="terms" type="text" disabled="true">
                            <label for="terms">Terms</label>
                        </div>
                    </div>

                    <div class="row">
                        <select class="browser-default" disabled="true">  
								<option value="" disabled>Item</option>
								<option value="1" selected>Item 1</option>
    							<option value="2">Item 2</option>
    							<option value="3">Item 3</option>
    							<option value="4">Item 4</option>
								<option value="5">Item 5</option>
    							<option value="6">Item 6</option>
    							<option value="7">Item 7</option>
    							<option value="8">Item 9</option>								
                        </select>
                    </div>

                    <div class="row">
                        <div class="sixteen wide column">
                            <input id="description" type="text" disabled="true">
                            <label for="description">Description</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="four wide column">
                            <input id="quantity" type="text" disabled="true">
                            <label for="quantity">Quantity</label>
                        </div>
                        <div class="four wide column">
                            <input id="unitPrice" type="text" disabled="true">
                            <label for="unitPrice">Unit Price</label>
                        </div>
                        <div class="four wide column">
                            <input id="amount" type="text" disabled="true">
                            <label for="amount">Amount</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="center">
                            <button id="" class="ui green basic button" type="button" style="width: 200px;">Confirm</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
