{% extends 'sidebar.html' %}
{% block content %}

<h3 class="ui dividing header">Purchase Order #{{ pk }}</h3>
 <table class="ui cell padded table center aligned">
        	<thead>
          	<tr>
                <th>Material Type</th>
                <th>Width (inches)</th>
                <th>Length(inches)</th>
                <th>Thickness(inches)</th>
                <th>Color</th>
                <th>Gusset</th>
                <th>Quantity</th>
                <th>Laminate</th>
                <th>Printed</th>
                <th>Price/pc</th>
                <th>Item Price Sub-Total</th>
          	</tr>
    		</thead>


            <tbody>

                {% for clientitem in client_po.clientitem_set.all %}
                <tr>
                    <td>{{ clientitem.products }}</td>
                    <td>{{ clientitem.width }}</td>
                    <td>{{ clientitem.length}}</td>
                    <td>{{ clientitem.thickness}}</td>
                    <td>{{ clientitem.color }}</td>
                    <td>{{ clientitem.gusset}}</td>
                    <td>{{ clientitem.quantity }}</td>

                     {% if clientitem.laminate ==  True %}
                        <td><i class="icon checkmark"></i></td>
                     {% else %}
                        <td ><i class="icon close"></i></td>
                     {% endif %}

                     {% if clientitem.printed ==  True %}
                        <td><i class="icon checkmark"></i></td>
                     {% else %}
                        <td ><i class="icon close"></i></td>
                     {% endif %}

                    <td>{{clientitem.price_per_piece}}</td>
                    <td>Total: {{ clientitem.item_price}}</td>
                </tr>
                {% endfor %}

                <tr>Grand Total: {{client_po.total_amount}}</tr>


			</tbody>
    	</table>

{% if preprod %}
    {% if credit_status %}
            <div class="ui negative icon message">
                <i class="times circle icon"></i>
                <div class="content"><div class="header">
                    You have an overdue balance with the company.
                </div>
                <p>
                    Please settle this immediately as it will affect this order's confirmation.
                </p>
                </div>
            </div>
    {% else %}
            <div class="ui positive icon message">
                <i class="check circle icon"></i>
                <div class="content"><div class="header">
                    Credit status cleared.
                </div>
                <p>
                    You have no overdue balance in the company's records.
                </p>
                </div>
            </div>
    {% endif %}
    {% if matreq %}
        <div class="ui positive icon message">
            <i class="check circle icon"></i>
            <div class="content">
                <div class="header">
                    There are enough materials in the site's warehouse to produce this order.
                </div>
                <p>
                    Big Apple can proceed with processing this order without having to procure materials.
                </p>
            </div>
        </div>
    {% else %}
        <div class="ui negative icon message">
            <i class="times circle icon"></i>
            <div class="content">
                <div class="header">
                   There are not enough materials in the site's warehouse to produce this order at the moment.
                </div>
                <p>
                    Big Apple will have to procure materials first before being able to process this order.
                </p>
            </div>
        </div>
    {% endif %}
{% endif %}


	<a class="small ui yellow button" href="{% url 'sales:po-list-view' %}">Back</a>


{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#editBTN').click(function() {
            if ($('#name').prop('disabled')) {
                $('#textfieldToClose').prop('disabled', false)
            } else {
                $('#textfieldToClose').prop('disabled', true)
            }
        });
    })

</script>
{% endblock %}
