{% extends "sidebar.html" %} {% block content %}

<h3 class="ui dividing header">Create Purchase Order</h3>

<form id="myForm" class="ui form" action="{% url 'sales:create-client-po-form' %}" method="POST" enctype="multipart/form-data">

	{% if credit_status %}
	<div class="ui negative icon message">
		<i class="times circle icon"></i>
		<div class="content"><div class="header">
			You have an overdue balance with the company.
		</div>
		<p>
			Please settle any pending balance immediately as it will affect this order's confirmation.
		</p>
		</div>
	</div>
	{% else %}
	<div class="ui positive icon message">
		<i class="check circle icon"></i>
		<div class="content"><div class="header">
			Credit status cleared.
		</div>
		<p>
			You have no overdue balance in the company's records.
		</p>
		</div>
	</div>
	{% endif %}

	<div class="ui icon info message">
		<i class="exclamation triangle icon"></i>
		<div class="content"><div class="header">
			Note:
		</div>
		<p>
			Minimum Order Quantity per item is 10,000 pcs. Order quantities below MOQ will be priced based on MOQ
		</p>
		</div>
	</div>

	<div>
		{% csrf_token %}
		{% include 'sales/template_form.html' %}
	</div>

	<table class = "ui striped table center aligned">
		<thead>
			<tr>
				<th class="two wide">Item</th>
				<th class="one wide">Width (inches)</th>
				<th class="one wide">Length (inches)</th>
				<th class="one wide">Thickness (inches)</th>
				<th class="one wide">Gusset</th>
				<th class="one wide">Color</th>
				<th class="two wide">Quantity</th>
				<th class="one wide">Laminated</th>
				<th class="one wide">Printed</th>
			</tr>
		</thead>
		<tbody>
			{% for form in formset.forms %}
			<tr id="{{ form.prefix }}-row" class="formset_class">
				{% if form.instance.pk %} {{ form.DELETE }}{% endif %}
				<td>{{form.products}}</td>
				<td>{{form.width}}</td>
				<td>{{form.length}}</td>
				<td>{{form.thickness}}</td>
				<td>{{form.gusset}}</td>
				<td>{{form.color}}</td>
				<td>{{form.quantity}}</td>
				<td>{{form.laminate}}</td>
				<td>{{form.printed}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{{formset.management_form}}

	<button type="submit" class="ui small green button" onclick="return confirm('Are you sure you want to proceed?')">Submit</button>
</form>
{% if matreq %}

{% else %}
<div class="ui yellow attached message">
	<div class="content">
		<div class="header">
			Big Apple may have to process this order longer.
		</div>
		<p>
			The company may have to procure materials first before being able to process this order.
		</p>
	</div>
</div>
{% endif %}

<h3 class="ui dividing header">Your Demand Forecast</h3>
<div class="ui horizontal segments">
	<div class="ui segment">
		<h5 class="ui dividing header">{{product.products}}</h5>
		<div>
			<div class="ui very compact secondary menu">
				<a class="item" data-tooltip="Simple Exponential Smoothing" data-tab="second" data-position="bottom center">SES</a>
				<a class="item" data-tooltip="Holt Winters Exponential Smoothing" data-tab="third" data-position="bottom center">HWES</a>
				<a class="item" data-tooltip="Moving Average" data-tab="fourth" data-position="bottom center">Moving Average</a>
			</div>
			<div class="ui active tab segment" data-tab="second">
				<table class="ui small compact striped table center aligned">
					<thead>
						<tr>
							<th>
								Date
							</th>
							<th>
								Quantity
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ forecast_ses.0 }}
							</td>
							<td>
								{{ forecast_ses.1 }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ui tab segment" data-tab="third">
				<table class="ui small compact striped table center aligned">
					<thead>
						<tr>
							<th>
								Date
							</th>
							<th>
								Quantity
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ forecast_hwes.0 }}
							</td>
							<td>
								{{ forecast_hwes.1 }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ui tab segment" data-tab="fourth">
				<table class="ui small compact striped table center aligned">
					<thead>
						<tr>
							<th>
								Date
							</th>
							<th>
								Quantity
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ forecast_moving_average.0 }}
							</td>
							<td>
								{{ forecast_moving_average.1 }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="ui segment">
		<h5 class="ui dividing header">Suggested Products (as per Inventory Stock)</h5>
		<table class="ui striped table center aligned">
			<thead>
				<tr>
				   <th rowspan="1">
					   Product
				   </th>
				</tr>
			</thead>
			<tbody>
			{% for each in order %}
				<tr>
					<td>
						{{each.products}}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>


<!--
<p>Total: </p><input id ="Total" type="number">
-->

<!--
<button id = "view_receipt" class ="ui button">View Receipt</button>
-->

{% endblock %} {% block script %}
<!-- <script type="text/javascript">
    $(function() {
        $('#myForm .formset_class').formset({
            prefix: '{{ formset.prefix }}'
        });
    })

</script> -->

	<script>
        $( document ).ready(function() {
            $(function() {
                $('#myForm .formset_class').formset({
                    prefix: '{{ formset.prefix }}'
                });
            })
        });
    </script>

{% endblock %}

<!--
<script type="text/javascript">
$(document).ready(function(){
    $("#view_receipt").click(function(){
        $('.ui.modal').modal('show');
    });
});
</script>

<script type="text/javascript">
$(function() {
        $("input[name*='printed']").click(function() {
            var disable = $(this).is(':checked');
            $("input[name*='color_quantity']").attr('disabled', disable);
        });
    });
    </script>

<script type="text/javascript">
$("input[name*='-quantity']").each(function(){
total_price += parseInt($(this).val());
 $("#Total").val(total_price);
});
</script>

<script type="text/javascript">
var total = 0;
$("input[name*='-quantity']").each( function(){
          total += $(this).val() * 1;

});
$("#Total").val(total);
    </script>
 -->