{% extends 'base_ui/global_base_ui.html' %}

{% block content %}
<div id="basic-form" class="section">
  <div class="row">
    <div class="col s4 offset-s4">
      <div class="card-panel">
        <h4 class="header1">{{ title }}</h4>
        <div class="row">
          
          <form class="col s12" action = "#" method="POST" role="form">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col s12">
                <input id="company_name"  name = "company_name" type="text" required="true" value= "{{ supplier.company_name }}">
                <label for="company_name">Company Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="contact_person" name = "contact_person" type="text" required="true" value= "{{ supplier.contact_person }}">
                <label for="contact_person">Contact Person</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select id="department" name = "department" type="text" required="true">
                  <option value = "{{ supplier.department }}"></option>
                </select>
                <label for="department">Department</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="mobile_number" name = "mobile_number" type="text" required="true" value= "{{ supplier.mobile_number }}">
                <label for="mobile_number">Mobile Number</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email_address" name = "email_address" type="email" required="true" value= "{{ supplier.email_address }}">
                <label for="email_address">Email Address</label>
              </div>
            </div>    
            <div class="row">
              <div class="input-field col s12">
                <select id="supplier_type" name = "supplier_type" type="text" required="true">
                  <option value = "{{ supplier.supplier_type }}">{{ supplier.get_supplier_type_display }}</option>
                </select>
                <label for="supplier_type">Type of Supplier</label>
                
              </div>
            </div>                                                             
            <div class="row">
              <div class="input-field col s12">
                <input id="description" name = "description" type="text" value="{{ supplier.description }}">
                <label for="description">Description</label>
              </div>
              <div class="row">
                <div class="center">
                  <button class="btn btn-small green" type="submit">{{ actiontype }}</button>
                  <button class="btn btn-small red" typle="clear">Clear</button>
                </div>
              </div>
            </div>
        </form>
        </div>
      </div>                        
      </div>
    </div>
  </div>
</div>


{% endblock %}