{% extends 'sidebar.html' %}

{% block content %}
<h3 class="ui dividing header">{{ title }}</h3>

    <table class="ui stripped center aligned table">
        <thead>
        <tr>
            <th>Employee ID</th>
            <th>Person</th>
            <th>Address</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Position</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if data %}
            {% for data in data  %}
            <tr>
                <td><a href="{% url 'sales:employee_details' data.id %}">{{ data.id }}</a></td>
                <td>{{ data.full_name }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.contact_number }}</td>
                <td>{{ data.position }}</td>
            </tr>
            {% endfor %}
        {% else %}
        <td>
            <p>There are no Employees to display</p>
        </td>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
