{% extends 'sales_coordinator_page_ui.html' %}

  {% block content %}

	<div class="wrapper container">
		<table class="striped" style = "font-size:12px;">
        	<thead>
          	<tr>
          	  	<th>PO#</th>
				<th>Status</th>
				<th>Remarks</th>
          	</tr>
    		</thead>
    		<tbody>
				{% for jo in jo  %}
    			<tr>
    				<td><a href="{% url 'sales:JO_details' jo.id %}">{{ jo.client_po }}</a></td>
    				<td>{{ jo.status }}</td>
    				<td>{{ jo.remarks }}</td>
    			</tr>
				{% endfor %}
			</tbody>
    	</table>
	</div>

{% endblock %}