
<!DOCTYPE html>
<html lang="en">
  <head>
	  {% includes "global_base_ui.html" %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Big Apple Plastic Manufacturing Co.</title>

    <!-- Favicons-->
    <link rel="icon" href="../../../accounts/images/BAicon.png" sizes="32x32">

    <!-- CORE CSS-->
    <link href="../../../accounts/static/css/materialize.css" type="text/css" rel="stylesheet">
 	<link href="../../../accounts/static/css/style.css" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="../../../frontend/static/css/custom.css" type="text/css" rel="stylesheet">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="../../../accounts/static/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="../../../accounts/static/vendors/prism/prism.css" type="text/css" rel="stylesheet">

  </head>

{% block content %}

<body>

	<div class="wrapper">
		<table>
        	<thead>
          	<tr>
          	  <th>Job Order ID</th>
              <th>Purchase Order ID</th>
              <th>Client</th>
              <th>Items</th>
              <th>Date Issued</th>
              <th>Date Required</th>
              <th>Status</th>
              <th>Remarks</th>
          	</tr>
    		</thead>
    		<tbody>

    		    {% if all_JO %}
    				{% for JobOrder in all_JO %}
    			<tr>
    				<td>
    				<a href="{{ JobOrder.get_absolute_url }}">{{ __str__ }}</a>
    				</td>
    				<td>
    				({{ JobOrder.client_po.__str__ }})
    				</td>
    				<td>
    				({{ JobOrder.client_po.client }})
    				</td>
    				<td>
		          	({{ JobOrder.client_po.client_items }})
                        #modify; will return multiple items
    				</td>
    				<td>
    				({{ JobOrder.client_po.date_issued }})
    				</td>
    				<td>
    				({{ JobOrder.client_po.date_required }})
    				</td>
    				<td>
    				({{ JobOrder.status }})
    				</td>
    				<td>
    				({{ JobOrder.remarks }})
    				</td>
    			</tr>
    		{% endfor %}

    		{% else %}
      		<p>There are no Job Orders in the database.</p>

    		{% endif %}
			</tbody>
    	</table>
	</div>

</body>


{% endblock %}
</html>