{% extends 'sidebar.html' %}
{% block content %}

<h3 class="ui dividing header">{{ title }}</h3>

<table class="ui stripped table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Purchase Order ID</th>
                <th>Date Issued</th>
                <th>Date Required</th>
                <th>Lead Time</th>
                <th>Items</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for rush_orders in rush_orders %}
            <tr>
                <td>
                    ({{ rush_orders.client }})
                </td>
                <td>
                    ({{ rush_orders }})
                </td>
                <td>
                    ({{ rush_orders.date_issued }})
                </td>
                <td>
                    ({{ rush_orders.date_required }})
                </td>
                <td>
                    ({{ rush_orders.calculate_leadtime }})
                </td>
                #TODO: for loop for rush order items
                <td>{% if rush_orders.status == 'Waiting' %}
							<a href="{% url 'sales:confirm-client-po' ClientPO.id %}">{{ rush_orders.status }}</a>
							{% else %}
							{{ rush_orders.status }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
