{% extends "sidebar.html" %}
{% block content %}

<body>

    #CBA
    #Simulated Sched

</body>

                            <form method="post">
                            <input type="submit" class="ui green basic button" value="Approve" name="approve_btn">
                            </form>

<br>
                            <form method="post">
                            <input type="submit" class="ui red basic button" value="Deny" name="deny_btn">
                            </form>
{% endblock %}