{% extends 'credit_and_collection_personnel_page_ui.html' %} {% block content %}

<h1 class="ui header">Invoice for {{salesinvoice}}</h1>



<table class="ui cell padded table">
        	<thead>
          	<tr>
          	  <th>Client</th>
                <td>{{salesinvoice.client}}</td>
                </tr>
                <tr>
                    <th>Date Issued</th>
                    <td> {{salesinvoice.date_issued}}</td>
                </tr>
            <tr>
              <th>Total Amount</th>
                 <td> {{salesinvoice.total_amount}}</td>
                </tr>
            <tr>
              <th>Discount</th>
                 <td> {{salesinvoice.discount}}</td>
                </tr>
            <tr>
              <th>Net Vat</th>
                 <td> {{salesinvoice.net_vat}}</td>
            </tr>
            <tr>
              <th>Amount Due</th>
                 <td> {{salesinvoice.amount_due}}</td>
            </tr>

            <tr>
                <th>Payment Terms</th>
                 <td> {{salesinvoice.payment_terms}}</td>
          	</tr>
            <tr>
                <th>Days Passed</th>
                 <td> {{salesinvoice.days_passed}}</td>
          	</tr>
            <tr>
                <th>Total Paid</th>
                 <td> {{salesinvoice.total_paid}}</td>
          	</tr>
               <tr>
              <th>Status</th>
                   {% if salesinvoice.status ==  "Open" %}
                   <td><i class="icon checkmark"></i>Open</td>
                   {% elif  salesinvoice.status ==  "Closed" %}
                   <td ><i class="icon close"></i>Closed</td>
                   {% elif  salesinvoice.status ==  "Late" %}
                   <td ><i class="icon close"></i>Closed</td>
                   <i class="exclamation icon">Late</i>
                   {% else %}
                   <td ><i class="ban icon"></i>Cancelled</td>
                    {% endif %}
            </tr>
    		</thead>


    	</table>

<button class="ui button">
	<a href="{% url 'sales:sales_invoice_list' %}">Back</a>
</button>

  <div class="ui horizontal divider">
      Payments
  </div>

<form method="post" action="{% url 'sales:add_payment_form' salesinvoice.id %}">
{% csrf_token %}
{{ form }}
<button type="submit" class="ui green basic button">Submit</button>
</form>

{% endblock %}
