{% extends 'sidebar.html' %} {% block content %}
<div class="print-container">
    <h2 class="ui dividing header">Sales Exception Report for the week of {{start_week}} to {{end_week}}</h2>
    <div class="ui four cards">
        <div class="card">
            <div class="content">
                <div class="center aligned header">Total Purchase Orders </div>
                <div class="center aligned description">
                    <h3>{{order_count}}</h3>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="center aligned header">Total Rush Orders </div>
                <div class="center aligned description">
                  <h3>{{rush_count}}</h3>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="center aligned header">Total Overdue Payments </div>
                <div class="center aligned description">
                    <h3>{{invoice_count}}</h3>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="center aligned header">Delayed Deliveries </div>
                <div class="center aligned description">
                    <h3>{{delivery_count}}</h3>
                </div>
            </div>
        </div>

    </div>

    <h3 class="ui dividing header">Rush Orders</h3>
    <div>
        <table class="ui striped table center aligned">
            <thead>
                <tr>
                    <th>Purchase Order ID</th>
                    <th>Client</th>
                    <th>Sales Agent</th>
                    <th>Quantity</th>
                    <th>Item</th>
                </tr>
            </thead>
            <tbody>
            {% for each in rush %}
                <tr>
                    <td>{{ each.id }}</td>
                    <td>{{ each.client }}</td>
                    <td>{{ each.client.sales_agent }}</td>
                    {% if items %}
                        {% for every in items %}
                            {% if every.client_po == each %}
                                <td>{{ every.quantity }}</td>
                                <td>{{ every.products }}</td>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
            {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <h3 class="ui dividing header">Delayed Deliveries</h3>
    <div>
        <table class="ui striped table center aligned">
            <thead>
                <tr>
                    <th>Purchase Order ID</th>
                    <th>Quantity</th>
                    <th>Item</th>
                    <th>Date Expected</th>
                    <th>Date Delivered</th>
                </tr>
            </thead>
            <tbody>
            {% for each in late_deliveries %}
                <tr>
                    <td>{{ each.id }}</td>
                    {% if items %}
                        {% for every in items %}
                            {% if every.client_po == each %}
                                <td>{{ every.quantity }}</td>
                                <td>{{ every.products }}</td>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                    <td>{{ each.date_required }}</td>
                    <td>{{ each.date_delivered }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h3 class="ui dividing header">Overdue Payments</h3>
    <div>
        <table class="ui striped table center aligned">
            <thead>
                <tr>
                    <th>Sales Invoice ID</th>
                    <th>Client</th>
                    <th>Sales Agent</th>
                    <th>Total Amount</th>
                    <th>Amount Paid</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for each in late_invoices %}
                    <tr>
                        <td>{{ each.id }}</td>
                        <td>{{ each.client }}</td>
                        <td>{{ each.client.sales_agent }}</td>
                        <td>{{ each.total_amount_computed }}</td>
                        <td>{{ each.total_paid }}</td>
                        <td>{{ each.amount_due }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2 class="ui dividing header">Sales Exception Report for 2019</h2>
    <div class="ui four cards">
        <div class="card">
            <div class="content">
                <div class="center aligned header">Total number of orders for 2019</div>
                <div class="center aligned description">
                    <h3>{{orders_this_year_count}}</h3>
                </div>
                <br>
                <div class="center aligned header">Total number of orders for 2018</div>
                <div class="center aligned description">
                    <h3>{{orders_last_year_count}}</h3>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="center aligned header">Total Rush Orders for 2019</div>
                <div class="center aligned description">
                    <h3>{{rush_this_year_count}}</h3>
                </div>
                <br>
                <div class="center aligned header">Total Rush Orders for 2018</div>
                <div class="center aligned description">
                    <h3{{rush_last_year_count}}</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="center aligned header">Overdue Payments for 2019</div>
                <div class="center aligned description">
                    <h3>{{invoice_this_year_count}}</h3>
                </div>
                <br>
                <div class="center aligned header">Overdue Payments for 2018</div>
                <div class="center aligned description">
                    <h3>{{invoice_last_year_count}}</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="center aligned header">Delayed Deliveries for 2019</div>
                <div class="center aligned description">
                    <h3>{{delivery_this_year_count}}</h3>
                </div>
                <br>
                <div class="center aligned header">Delayed Deliveries for 2018</div>
                <div class="center aligned description">
                    <h3>{{delivery_this_year_count}}</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 25px;">
        <div class="ui grid">
            <div class="eight wide column">
                <h3 class="ui dividing header">Clients with the Most Orders</h3>
                <table class="ui striped table center aligned">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Sales Agent</th>
                        <th>Number of Orders</th>
                    </tr>
                </thead>
                <tbody>
                {% for each in high_clients %}
                    <tr>
                        <td>{{ each.Client }}</td>
                        <td>{{ each.Agent }}</td>
                        <td>{{ each.Orders }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="eight wide column">
                <h3 class="ui dividing header">Clients with the Least Orders</h3>
                <table class="ui striped table center aligned">
                    <thead>
                        <tr>
                            <th>Client</th>
                            <th>Sales Agent</th>
                            <th>Number of Orders</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for each in low_clients %}
                    <tr>
                        <td>{{ each.Client }}</td>
                        <td>{{ each.Agent }}</td>
                        <td>{{ each.Orders }}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="ui grid">
            <div class="eight wide column">
                <h3 class="ui dividing header">Most Ordered Items</h3>
                <table class="ui striped table center aligned">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Times Ordered</th>
                            <th>Quantity Produced</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for each in high_items %}
                        <tr>
                            <td>{{ each.Item }}</td>
                            <td>{{ each.Times }}</td>
                            <td>{{ each.Qty }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="eight wide column">
                <h3 class="ui dividing header">Least Ordered Items</h3>
                <table class="ui striped table center aligned">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Times Ordered</th>
                            <th>Quantity Produced</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for each in low_items %}
                        <tr>
                            <td>{{ each.Item }}</td>
                            <td>{{ each.Times }}</td>
                            <td>{{ each.Qty }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="no-print row" style="margin-top: 15px;">
    <button class="ui labeled icon button" onclick="window.print()">
      <i class="print icon"></i> Print Report
    </button>
</div>

{% endblock %}
