
{% extends 'sales_coordinator_page_ui.html' %} {% block content %}
<h2 class="ui header">{{ title }}</h2>
    <table class="ui striped table center aligned">
        <thead>
            <tr>
                <th>Client</th>
                <th>Receivables as of <p>{{date}}</p></th>
                <th>Overdue Balance</th>
                <th>Days Overdue</th>
                <th>Payment Terms</th>
                <th>Account Supervisor</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>

            {% for ClientCreditStatus in credits_status %}
            <tr>
                <td>
                    {{ ClientCreditStatus.client }}
                </td>
                <td>
                    {{ ClientCreditStatus.outstanding_balance }}
                </td>
                <td>
                    {{ ClientCreditStatus.overdue_balance }}
                </td>
                <td>
                    {{ ClientCreditStatus.calculate_days_overdue }}
                </td>
                <td>
                    {{ ClientCreditStatus.client.client_constant.payment_terms }}
                </td>
                <td>
                    {{ ClientCreditStatus.client.sales_agent }}
                </td>
                <td>
                    {{ ClientCreditStatus.remarks }}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}
