{% extends 'sidebar.html' %}
{% block content %}
<h2 class="ui header">{{ title }}</h2>
	<table class="ui stripped table center aligned">
        <thead>
            <tr>
                <th>Client</th>
                <th>Receivables as of <p>{{date}}</p></th>
                <th>Overdue Balance</th>
                <th>Days Overdue</th>
                <th>Payment Terms</th>
                <th>Account Supervisor</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for each in client %}
            <tr>
                <td>
                    {{ each }}
                </td>
                <td>
                    {{ each.outstanding_balance }}
                </td>
                <td>
                    {{ each.overdue_balance }}
                </td>
                <td>
                    {% for every in sales_invoice %}
                        {% if every.client_id == each.id %}
                        {{ every.days_overdue }}
                        {{ break }}
                        {% endif %}
                    {% endfor %}

                </td>
                <td>
                    {{ each.payment_terms }}
                </td>
                <td>
                    {{ each.sales_agent }}
                </td>
                <td>
                    {{ each.remarks }}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}
