{% extends 'sales_coordinator_page_ui.html' %}

{% block content %}
<div id="basic-form" class="section">
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card-panel">
        <h4 class="header1">{{ title }}</h4>
        <div class="row">
          
          <form class="col s12" action = "#" method="POST" role="form">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col s12">
                {{ form.company_name }}
                <label for="company_name">Company Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{ form.contact_person }}
                <label for="contact_person">Contact Person</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{ form.mobile_number }}
                <label for="mobile_number">Mobile Number</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{ form.email_address }}
                <label for="email_address">Email Address</label>
              </div>
            </div>                                            
            <div class="row">
              <div class="input-field col s12">
                {{ form.description }}
                <label for="description">Description</label>
              </div>
              <div class="row">
                <div class="center">
                  <button class="btn btn-small green" type="submit">{{ actiontype }}</button>
                  <button class="btn btn-small red" typle="clear">Clear</button>
                </div>
              </div>
            </div>
        </form>
        </div>
      </div>                        
      </div>
    </div>
  </div>
</div>


{% endblock %}