{% extends 'sales_coordinator_page_ui.html' %}

  {% block content %}

	<div class="wrapper container">
		<table class="striped" style = "font-size:12px;">
        	<thead>
          	<tr>
          	  	<th>Company</th>
				<th>Contact Person</th>
            	<th>Department</th>
              	<th>Mobile Number</th>
				<th>Email</th>
          	</tr>
    		</thead>
    		<tbody>
				{% for supplier in supplier  %}
    			<tr>
    				<td>{{ supplier.company_name }}</td>
    				<td>{{ supplier.contact_person }}</td>
    				<td>{{ supplier.department }}</td>
    				<td>{{ supplier.mobile_number }}</td>
					<td>{{ supplier.email_address }}</td>
					<td>
						<a class="amber btn" href="{% url 'sales:supplier_edit' supplier.id %}" style="font-size:12px;">View</a>
						<a class="red btn" href="{% url 'sales:supplier_delete' supplier.id %}" style="font-size:12px;">Delete</a>
					</td>
    			</tr>
				{% endfor %}
			</tbody>
    	</table>
	</div>
{% endblock %}
