{% extends 'base_ui/global_base_ui.html' %}

  {% block content %}

	<div class="wrapper container">
		<table class="striped">
        	<thead>
          	<tr>
          	  	<th>Company</th>
				<th>Type of Supplier</th>
			  	<th>Description</th>
				<th>Contact Person</th>
            	<th>Department</th>
              	<th>Mobile Number</th>
              	<th>Email</th>
          	</tr>
    		</thead>
    		<tbody>
				{% for query in query  %}
    			<tr>
    				<td>{{ query.company_name }}</td>
    				<td>{{ query.get_supplier_type_display }}</td>
    				<td>{{ query.description }}</td>
    				<td>{{ query.contact_person }}</td>
    				<td>{{ query.get_department_display }}</td>
    				<td>{{ query.mobile_number }}</td>
					<td>{{ query.email_address }}</td>
					<td>
						<a class="amber btn" href="" style="font-size:12px;">Edit</a>
						<a class="red btn" href="{% url 'delete_supplier' query.id  %}" style="font-size:12px;">Delete</a>
						<!-- <a class="red btn" href="{% url 'delete_supplier' query.id  %}" style="font-size:12px;">Delete</a> -->
					</td>
    			</tr>
				{% endfor %}
			</tbody>
    	</table>
	</div>

{% endblock %}
