{% extends 'sidebar.html' %}
{% block content %}

<h3 class="ui dividing header">Your Purchase Orders</h3>
<div class="ui horizontal segments">
	<div class="ui segment">
		<h4 class="ui dividing header">Purchase Orders</h4>
		<table class="ui striped table center aligned">
			<thead>
				<tr>
				  <th class="">Purchase Order ID</th>
				  <th class="">Date Issued</th>
				  <th class="">Date Required</th>
				  <th class="">Total Amount</th>
				  <th class="">Status</th>
				</tr>
			</thead>
			<tbody>
			{% if client_po %}
				{% for each in client_po %}
					<tr>
						<td><a href="{% url 'sales:po-detail-view' each.id %}"> {{ each.id }}</a></td>
						<td>{{ each.date_issued }}</td>
						<td>{{ each.date_required }}</td>
						<td>{{ each.total_amount }}</td>
						<td>{% if each.status == 'Waiting' and x == 'Employee' %}
							<a href="{% url 'sales:confirm-client-po' each.id %}">{{ each.status }}</a>
							{% else %}
							{{ each.status }}</td>
							{% endif %}
					</tr>
				{% endfor %}
			{% else %}
			<td>
				<p>There are no Purchase Orders to display</p>
			</td>
			{% endif %}
			</tbody>
			<tfoot class="full-width">
				<tr>
					<th colspan="5">
						<a href="{%url 'sales:po-list-view'%}">See more</a>
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="ui segment">
		<h4 class="ui dividing header">Overdue Sales Invoices</h4>
		<table class="ui striped table center aligned">
			<thead>
				<tr>
					<th>Sales Invoice #</th>
					<th>Days Overdue</th>
					<th>Amount Due</th>
				</tr>
			</thead>
			<tbody>
			{% if invoice %}
				{% for SalesInvoice in invoice  %}
				<tr>
					<td><a href="{% url 'sales:sales_invoice_details' SalesInvoice.id %}"> {{ SalesInvoice.id }} </a></td>
					<td> {{ SalesInvoice.days_overdue }} </td>
					<td> {{ SalesInvoice.amount_due }} </td>
				</tr>
				{% endfor %}
			{% else %}
			<td>
				<p>There are no Invoices to display</p>
			</td>
			{% endif %}
			</tbody>
			<tfoot class="full-width">
				<tr>
					<th colspan="5">
						<a href="{%url 'sales:sales_invoice_list'%}">See more</a>
					</th>
				</tr>
			</tfoot>

		</table>
	</div>
</div>

<h3 class="ui dividing header">Forecast</h3>
<div class="ui horizontal segments">
	<div class="ui segment">
		<h4	class="ui dividing header">Demand Forecast</h4>

		<h5 class="ui dividing header">{{product.id}} - {{product.products}}</h5>
		<div>
			<div class="ui very compact secondary menu">
				<a class="item" data-tooltip="Simple Exponential Smoothing" data-tab="second" data-position="bottom center">SES</a>
				<a class="item" data-tooltip="Holt Winters Exponential Smoothing" data-tab="third" data-position="bottom center">HWES</a>
				<a class="item" data-tooltip="Moving Average" data-tab="fourth" data-position="bottom center">Moving Average</a>
			</div>
			<div class="ui active tab segment" data-tab="second">
				<table class="ui small compact striped table center aligned">
					<thead>
						<tr>
							<th>
								Date
							</th>
							<th>
								Quantity
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ forecast_ses.0 }}
							</td>
							<td>
								{{ forecast_ses.1 }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ui tab segment" data-tab="third">
				<table class="ui small compact striped table center aligned">
					<thead>
						<tr>
							<th>
								Date
							</th>
							<th>
								Quantity
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ forecast_hwes.0 }}
							</td>
							<td>
								{{ forecast_hwes.1 }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ui tab segment" data-tab="fourth">
				<table class="ui small compact striped table center aligned">
					<thead>
						<tr>
							<th>
								Date
							</th>
							<th>
								Quantity
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ forecast_moving_average.0 }}
							</td>
							<td>
								{{ forecast_moving_average.1 }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}