{% extends "client_page_ui.html" %}

        {% block content %}
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">

            <!--work collections start-->
            <div id="work-collections">
              <div class="row">
                <div class="col s12 m12 l6">
                  <ul id="projects-collection" class="collection z-depth-1">
                    <li class="collection-item avatar">
                      <i class="material-icons cyan circle">note</i>
                      <h6 class="collection-header m-1"><a href=#>Purchase Order Status</a></h6>
                    </li>
                    <li class="collection-item">
                		<div class="row">
                			<div class="col s4">
	                        	<p class="collections-title">Purchase Order #</p>
                			</div>
		                	<div class="col s4">
		                		<p class="collections-title">Status</p>
		                	</div>
		                </div>
                   </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s4">
                          <p class="collections-content">1282085024</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content"><span class="task-cat red accent-4">Delayed</span></p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
            <!--work collections end-->

            <!-- //////////////////////////////////////////////////////////////////////////// -->
          </div>
            </div>
          <!--end container-->
        </section>
        <!-- END CONTENT -->
         {% endblock %}
