{% extends 'sidebar.html' %}
{% block content %}

<h3 class="ui dividing header">Overdue Sales Invoices</h3>
    <div class="ui horizontal segments">
        <div class="ui segment">
                <table class="ui striped table center aligned">
                    <thead>
                        <tr>
                            <th>Sales Invoice #</th>
                            <th>Client</th>
                            <th>Days Overdue</th>
                            <th>Amount Due</th>
                            <th>Contact Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if invoice %}
                        {% for SalesInvoice in invoice  %}
                        <tr>
                            <td><a href="{% url 'sales:sales_invoice_details' SalesInvoice.id %}"> {{ SalesInvoice.id }} </a></td>
                            <td> {{ SalesInvoice.client }} </td>
                            <td> {{ SalesInvoice.days_overdue }} </td>
                            <td> {{ SalesInvoice.amount_due }} </td>
                            <td> {{ SalesInvoice.client.contact_number }}<br>
                            {{ SalesInvoice.client.email }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <td>
                        <p>There are no Invoices to display</p>
                    </td>
                    {% endif %}
                    </tbody>
                    <tfoot class="full-width">
                        <tr>
                            <th colspan="5">
                                <a href="{%url 'sales:sales_invoice_list'%}">See more</a>
                            </th>
                        </tr>
                    </tfoot>

                </table>
            </div>
    </div>

{% endblock %}
