{% extends 'sidebar.html' %}
{% block content %}
<div>
    <h3 class="ui dividing header">Production Dashboard</h3>

    <div>
    <div class="ui top attached tabular menu">
        <div class="active item" data-tab="first">Week of {{ today }}</div>
        <div class="item" data-tab="second">
        {% if today.month == 1 %}
            January {{ today.year }}
        {% elif today.month == 2 %}
            February {{ today.year }}
        {% elif today.month == 3 %}
            March {{ today.year }}
        {% elif today.month == 4 %}
            April {{ today.year }}
        {% elif today.month == 5 %}
            May {{ today.year }}
        {% elif today.month == 6 %}
            June {{ today.year }}
        {% elif today.month == 7 %}
            July {{ today.year }}
        {% elif today.month == 8 %}
            August {{ today.year }}
        {% elif today.month == 9 %}
            September {{ today.year }}
        {% elif today.month == 10 %}
            October {{ today.year }}
        {% elif today.month == 11 %}
            November {{ today.year }}
        {% elif today.month == 12 %}
            December {{ today.year }}
        {% endif %}
        </div>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">
        <div style="overflow-x: scroll;">
            <table class="ui celled center aligned table">
                <thead>
                    <tr>
                        <th>Machine</th>
                        {% for a in week %}
                        <th>{{ a }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for x in machines %}
                    <tr>
                        <td>
                            <a href="#">Machine {{x.machine_id}} : {{x.machine_type}}</a>
                            {% if x.state == 'OK' %}
                            <i class="green check circle outline icon"></i>
                            {% else %}
                            <i class="red times circle outline icon"></i>
                            {% endif %}
                        </td>
                        {% for b in week %}
                            <td>
                                {% for iii in this_week %}
                                    {% if iii.Start.date == b and iii.Machine == x %}

                                            <br>
                                            <a href="{% url 'production:job_order_details' iii.ID %}">Job {{ iii.ID }}</a><br>
                                            <i>Employee:</i> {{ iii.Worker }}<br>
                                            <i>RM:</i> {{ iii.Resource }}<br>
                                            {% if iii.Start.date == b %}
                                                <i>Start: </i> {{ iii.Start.hour }}:{{ iii.Start.minute }} <br>
                                            {% endif %}
                                            {% if iii.Finish.date == b %}
                                                <i>End: </i> {{ iii.Finish.hour }}:{{ iii.Finish.minute }} <br>
                                            {% endif %}
                                            <br>

                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <div style="overflow-x: scroll;">
            <table class="ui celled center aligned table">
                <thead>
                    <tr>
                       <th>Machine</th>
                        {% for c in month %}
                        <th>{{ c.day }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for y in machines %}
                    <tr>
                        <td>
                            <a href="#">Machine {{y.machine_id}} : {{y.machine_type}}</a>
                            {% if y.state == 'OK' %}
                            <i class="green check circle outline icon"></i>
                            {% else %}
                            <i class="red times circle outline icon"></i>
                            {% endif %}
                        </td>
                        {% for d in month %}
                            <td>
                                {% for j in this_month %}
                                    {% if j.Start.date == d and j.Machine == y %}
                                            <br>
                                            <a href="{% url 'production:job_order_details' j.ID %}">Job {{ j.ID }}</a><br>
                                            <i>Employee:</i> {{ j.Worker }}<br>
                                            <i>RM:</i> {{ j.Resource }}<br>
                                            {% if j.Start.date == d %}
                                                <i>Start: </i> {{ j.Start.hour }}:{{ j.Start.minute }} <br>
                                            {% endif %}
                                            {% if j.Finish.date == d %}
                                                <i>End: </i> {{ j.Finish.hour }}:{{ j.Finish.minute }} <br>
                                            {% endif %}
                                            <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

    <script>

        google.charts.load('current', {'packages':['corechart', 'bar']});

        // for raw material levels
        google.charts.setOnLoadCallback(rawmaterialLevels);
        function rawmaterialLevels() {
          var data = google.visualization.arrayToDataTable([
            ["Raw Material Type", "Amount", { role: "style" } ],
            ["LDPE", parseInt("{{ LDPE }}"), "#97cfca"],
            ["LLDPE", parseInt("{{ LLDPE }}"), "#619c17"],
            ["HDPE", parseInt("{{ HDPE }}"), "#9c2f2f"],
            ["PP", parseInt("{{ PP }}"), "#d7e374"],
            ["PET", parseInt("{{ PET }}"),"#9c732c"],
            ["PE", parseInt("{{ PE }}"),"#249c3f"],
            ["HD", parseInt("{{ HD }}"),"#34919c"]
          ]);

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);

          var options = {
            hAxis:{format: 'short'},
            width: 1000,
            height: 300,
            bar: {groupWidth: "90%"},
            legend: { position: "none" },
          };
          var chart = new google.visualization.BarChart(document.getElementById("rawmaterialLevels"));
          chart.draw(view, options);
      }
    </script>
</div>

{% endblock %}
