{% extends 'sidebar.html' %}
{% block content %}
<div>
    <h3 class="ui dividing header">Production Dashboard</h3>
    <div style="overflow-x: scroll">
    <div class="ui top attached tabular menu">
    <div class="active item" data-tab="first">Week of {{ today }}</div>
    <div class="item" data-tab="second">
    {% if today.month == 1 %}
        January {{ today.year }}
    {% elif today.month == 2 %}
        February {{ today.year }}
    {% elif today.month == 3 %}
        March {{ today.year }}
    {% elif today.month == 4 %}
        April {{ today.year }}
    {% elif today.month == 5 %}
        May {{ today.year }}
    {% elif today.month == 6 %}
        June {{ today.year }}
    {% elif today.month == 7 %}
        July {{ today.year }}
    {% elif today.month == 8 %}
        August {{ today.year }}
    {% elif today.month == 9 %}
        September {{ today.year }}
    {% elif today.month == 10 %}
        October {{ today.year }}
    {% elif today.month == 11 %}
        November {{ today.year }}
    {% elif today.month == 12 %}
        December {{ today.year }}
    {% endif %}
    </div>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">
    <div style="overflow-x: scroll;">
        <table class="ui celled center aligned very small compact table">
            <thead>
                <tr>
                    <th class="one wide">Machine</th>
                    {% for a in week %}
                    <th class="one wide">{{ a }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="top aligned">

            {% for x in machines %}
                <tr>
                    <td>
                        <a href="#">Machine {{x.machine_id}} : {{x.machine_type}}</a>
                        {% if x.state == 'OK' %}
                        <i class="green check circle outline icon"></i>
                        {% else %}
                        <i class="red times circle outline icon"></i>
                        {% endif %}
                    </td>

                    {% for b in week %}
                        <td>
                        {% for i in this_week %}

                            {% if i.Start.date == b and i.Machine == x %}

                                <div class="ui mini message">


                                <a href="{% url 'production:job_order_details' i.ID %}" class="ui black header">Job {{ i.ID }}</a><br>

                                Employee: {{ i.Worker }}<br>
                                RM: {{ i.Resource }}<br>
                                {% if i.Start.date == b %}
                                    Start: {{ i.Start.hour }}:{{ i.Start.minute }} <br>
                                {% endif %}
                                {% if i.Finish.date == b %}
                                    End: {{ i.Finish.hour }}:{{ i.Finish.minute }} <br>
                                {% endif %}

                            </div>

                            {% endif %}
                        {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
    <div style="overflow-x: scroll;">
        <table class="ui celled center aligned table">
            <thead>
                <tr>
                   <th>Machine</th>
                    {% for c in month %}
                    <th>{{ c.day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="top aligned">
            {% for y in machines %}
                <tr>
                    <td>
                        <a href="#">Machine {{y.machine_id}} : {{y.machine_type}}</a>
                        {% if y.state == 'OK' %}
                        <i class="green check circle outline icon"></i>
                        {% else %}
                        <i class="red times circle outline icon"></i>
                        {% endif %}
                    </td>
                    {% for d in month %}
                        <td>
                            {% for j in this_month %}
                                {% if j.Start.date == d and j.Machine == y %}

                                <div class="ui mini message">

                                    <a href="{% url 'production:job_order_details' j.ID %}" class="ui black header">Job {{ j.ID }}</a><br>

                                    Employee: {{ j.Worker }}<br>
                                    RM: {{ j.Resource }}<br>
                                    {% if j.Start.date == b %}
                                        Start: {{ j.Start.hour }}:{{ j.Start.minute }} <br>
                                    {% endif %}
                                    {% if j.Finish.date == b %}
                                        End: {{ j.Finish.hour }}:{{ j.Finish.minute }} <br>
                                    {% endif %}

                                </div>

                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    </div>

    <h3 class="ui dividing header">Job Order Monitoring</h3>
    <div>
        <table class="ui celled center aligned table">

            <thead>
                <tr>
                    <th>
                        Job Order ID
                    </th>
                    <th colspan="">
                        Client
                    </th>
                    <th>
                        Date Issued
                    </th>
                    <th>
                        Estimated Finish Date & Time
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for x in JobOrder_data10 %}
                    {% for each in ideal_end %}
                        {% if x.id == each.job_order_id %}
                            {% if each.sked_out.date < now %}
                                <tr class="negative">
                                    <td>
                                        Job {{x.id}}
                                    </td>
                                    <td>
                                        {{x.client}}
                                    </td>
                                    <td>
                                        {{x.date_issued}}
                                    </td>
                                    <td>
                                        {{ each.sked_out }}
                                    </td>
                                    <td>
                                        {{x.status}}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        Job {{x.id}}
                                    </td>
                                    <td>
                                        {{x.client}}
                                    </td>
                                    <td>
                                        {{x.date_issued}}
                                    </td>
                                    <td>
                                        {{each.sked_out}}
                                    </td>
                                    <td>
                                        {{x.status}}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5">
                        <a href="{% url 'production:job_order_list'%}">See more</a>
                    </th>
                </tr>
            </tfoot>

        </table>
    </div>

    <h3 class="ui dividing header">Inventory Dashboard</h3>
    <div class="ui horizontal segments">
        <div style="overflow-x: scroll;">
            <div class="ui segment">
                <h4 class="ui dividing header">Raw Material Levels</h4>
                <canvas id="inventoryCanvas" width="400" height="250"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    var inventory = {
      label: "Inventory Levels",
      data: ['{{ LDPE }}', '{{ LLDPE }}', '{{ HDPE }}', '{{ PP }}', '{{ PE }}', '{{ PET }}', '{{ HD }}'],
      backgroundColor: "rgba(0, 99, 132, 0.6)",
      borderWidth: 0,
      yAxisID: "y-axis-level"
    };

    var eoq = {
      label: "Economic Order Quantity",
      data: ['{{EOQ_ldpe}}', '{{EOQ_lldpe}}','{{EOQ_hpde}}','{{EOQ_pp}}','{{EOQ_pe}}','{{EOQ_pet}}','{{EOQ_hd}}',],
      backgroundColor: "rgba(99, 132, 0, 0.6)",
      borderWidth: 0,
      yAxisID: "y-axis-eoq"
    };

    var inventoryData = {
      labels: [
        "LDPE",
        "LLDPE",
        "HDPE",
        "PP",
        "PE",
        "PET",
        "HD",
      ],
      datasets: [inventory, eoq]
    };

    var chartOptions = {
      scales: {
        xAxes: [
          {
            barPercentage: 1,
            categoryPercentage: 0.6
          }
        ],
        yAxes: [
          {
            id: "y-axis-level"
          },
          {
            id: "y-axis-eoq"
          }
        ]
      }
    };

    var barChart = new Chart(inventoryCanvas, {
      type: "bar",
      data: inventoryData,
      options: chartOptions
    });
</script>

</div>


{% endblock %}
