{% extends 'line_leader_page_ui.html' %}


         {% block content %}
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
          <!--start container-->
          <div class="container">
            <!--card stats start-->
            <div id="card-stats">
                <div class="col s4">
                  <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                      <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">timeline</i>
                      </div>
                      <div class="col s5 m5 right-align">
                        <h5 class="mb-0">Zalora</h5>
                        <p class="no-margin">Current Job</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            <div id="card-widgets">
            	<div class="row">
                	<div class="col s12">
                  		<ul id="task-card" class="collection with-header">
                    		<li class="collection-header teal accent-4">
		                      	<a href=#>
        	              	<h4 class="task-card-title"><i class="material-icons">event_note</i> Production Schedule</h4>
            	          	</a>
                	      	<p class="task-card-date">For the month of
                      
                    	  	<script type="text/javascript">
                      		var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                      		document.write(months[new Date().getMonth()]);
	                      	</script>
    	                  
        	              	to
            	          
                	      	<script type="text/javascript">
	            	          	var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    	    	              	document.write(months[new Date().getMonth()+1]);
        	              	</script>
                      
                      		</p>
                    	</li>
                    	<li>
                    		<h1>*Gantt Chart will be shown here.</h1>
                    	</li>
                  	</ul>
                </div>
            </div>
            <!--card widgets end-->
            
            <!--work collections start-->
            <div id="work-collections">
              <div class="row">
                <div class="col s12 m12 l6">
                  <ul id="projects-collection" class="collection z-depth-1">
                    <li class="collection-item avatar">
                      <i class="material-icons cyan circle">note</i>
                      <h6 class="collection-header m-1"><a href=#>Job Order Status</a></h6>
                    </li>
                    <li class="collection-item">
                		<div class="row">
                			<div class="col s4">
	                        	<p class="collections-title">Job Order #</p>                				
                			</div>
	                		<div class="col s4">
	                			<p class="collections-title">Company</p>
	                		</div>
		                	<div class="col s4">
		                		<p class="collections-title">Status</p>
		                	</div>
		                </div>
                   </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s4">
                          <p class="collections-content">1282085024</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content">Company A</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content"><span class="task-cat red accent-4">Delayed</span></p>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s4">
                          <p class="collections-content">3803718273</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content">Company B</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content"><span class="task-cat green accent-4">On Schedule</span></p>
                        </div>
                      </div>                    
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s4">
                          <p class="collections-content">5049281732</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content">Company C</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content"><span class="task-cat red accent-4">Delayed</span></p>
                        </div>
                      </div>                                        
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s4">
                          <p class="collections-content">5832854928</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content">Company D</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content"><span class="task-cat red accent-4">Delayed</span></p>
                        </div>
                      </div>                                        
                	</li>
                  </ul>
                </div>

              </div>
            </div>
            <!--work collections end-->
            
            <!-- //////////////////////////////////////////////////////////////////////////// -->
           </div>
            </div>
                </div>
            </div>
          </div>
          <!--end container-->
        </section>
        <!-- END CONTENT -->
      {% endblock %}
