{% extends "sales_coordinator_page_ui.html" %} {% block content %}

        <div class="ui relaxed grid">
            <div class="four wide column">
                <div class="ui container">
                    <div class="segments" style="margin:10px;">
                        <div class="ui green segment" style="text-align: center">
                            <h3>Extrusion</h3>
                        </div>
                        <div class="ui segment" style="text-align: center">
                            <div class="ui grid">
                                <div class="sixteen wide column">
                                    <div class="ui progress">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Company A</div>
                                    </div>
                                </div>
                                <div class="sixteen wide column">
                                    <div class="ui progress">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Company B</div>
                                    </div>
                                </div>
                                <div class="sixteen wide column">
                                    <div class="ui progress">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Company C</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui container">
                    <div class="segments" style="margin:10px;">
                        <div class="ui green segment" style="text-align: center">
                            <h3>Cutting</h3>
                        </div>
                        <div class="ui segment" style="text-align: center">
                            <div class="ui grid">
                                <div class="sixteen wide column">
                                    <div class="ui progress">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Company D</div>
                                    </div>
                                </div>
                                <div class="sixteen wide column">
                                    <div class="ui progress">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Company E</div>
                                    </div>
                                </div>
                                <div class="sixteen wide column">
                                    <div class="ui progress">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Company F</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui container">
                    <div class="segments" style="margin:10px;">
                        <div class="ui green segment" style="text-align: center">
                            <h3>Printing and Laminating</h3>
                        </div>
                        <div class="ui segment" style="text-align: center">
                            <div class="ui grid">
                                <div class="sixteen wide column">
                                    <div class="ui progress">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Company A</div>
                                    </div>
                                </div>
                                <div class="sixteen wide column">
                                    <div class="ui progress">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Company B</div>
                                    </div>
                                </div>
                                <div class="sixteen wide column">
                                    <div class="ui progress">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Company C</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui container">
                    <div class="segments" style="margin:10px;">
                        <div class="ui green segment" style="text-align: center">
                            <h3>Packing and Q/A</h3>
                        </div>
                        <div class="ui segment" style="text-align: center">
                            <div class="ui grid">
                                <div class="sixteen wide column">
                                    <div class="ui progress">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Company A</div>
                                    </div>
                                </div>
                                <div class="sixteen wide column">
                                    <div class="ui progress">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Company B</div>
                                    </div>
                                </div>
                                <div class="sixteen wide column">
                                    <div class="ui progress">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Company C</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="row ui container">
                    <div class="segments" style="margin:10px;">
                        <div class="ui green segment" style="text-align: center">
                            <h3>
                                Client Purchase Orders:
                            </h3>
                            <table class="ui striped table center aligned">
                                <thead>
                                <tr>
                                  <th>Purchase Order ID</th>
                                  <th>Date Issued</th>
                                  <th>Date Required</th>
                                  <th>Total Amount</th>
                                  <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if client_po %}
                                    {% for ClientPO in client_po %}
                                        <tr>
                                            <td><a href="{% url 'sales:po-detail-view' ClientPO.id %}">{{ClientPO}}</a></td>
                                            <td>{{ ClientPO.date_issued }}</td>
                                            <td>{{ ClientPO.date_required }}</td>
                                            <td>{{ ClientPO.total_amount }}</td>
                                            <td>{{ ClientPO.status}}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                <td>
                                    <p>There are no Purchase Orders to display</p>
                                </td>

                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="row ui container">
                    <div class="segments" style="margin:10px;">
                        <div class="ui green segment" style="text-align: center">
                            <h3>Gantt Chart:</h3>

                            <div class="container">
                                <div class="gantt-target"></div>
                            </div>
                            <script>
                                var tasks = [{
                                        start: '2018-10-01',
                                        end: '2018-10-08',
                                        name: 'Redesign website',
                                        id: "Task 0",
                                        progress: 20
                                    },
                                    {
                                        start: '2018-10-03',
                                        end: '2018-10-06',
                                        name: 'Write new content',
                                        id: "Task 1",
                                        progress: 5,
                                        dependencies: 'Task 0'
                                    },
                                    {
                                        start: '2018-10-04',
                                        end: '2018-10-08',
                                        name: 'Apply new styles',
                                        id: "Task 2",
                                        progress: 10,
                                        dependencies: 'Task 1'
                                    },
                                    {
                                        start: '2018-10-08',
                                        end: '2018-10-09',
                                        name: 'Review',
                                        id: "Task 3",
                                        progress: 5,
                                        dependencies: 'Task 2'
                                    },
                                    {
                                        start: '2018-10-08',
                                        end: '2018-10-10',
                                        name: 'Deploy',
                                        id: "Task 4",
                                        progress: 0,
                                        dependencies: 'Task 2'
                                    },
                                    {
                                        start: '2018-10-11',
                                        end: '2018-10-11',
                                        name: 'Go Live!',
                                        id: "Task 5",
                                        progress: 0,
                                        dependencies: 'Task 4',
                                        custom_class: 'bar-milestone'
                                    },
                                ]
                                var gantt_chart = new Gantt(".gantt-target", tasks, {
                                    on_click: function(task) {
                                        console.log(task);
                                    },
                                    on_date_change: function(task, start, end) {
                                        console.log(task, start, end);
                                    },
                                    on_progress_change: function(task, progress) {
                                        console.log(task, progress);
                                    },
                                    on_view_change: function(mode) {
                                        console.log(mode);
                                    }
                                });
                                console.log(gantt_chart);

                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
