{% extends 'sidebar.html' %}
{% block content %}

<h3 class="ui dividing header">Sales Dashboard</h3>

<div>
    <div class="ui horizontal segments">
        <div class="ui segment">

        </div>
        <div class="ui segment">

        </div>
    </div>
</div>

<h3 class="ui dividing header">Production Dashboard</h3>
    <div class="ui horizontal segments">
        <div class="ui segment">
            <div style="height: 100px; width: 100%;"></div>
        </div>
    </div>
<h3 class="ui dividing header">Inventory Dashboard</h3>
    <div class="ui horizontal segments">
        <div class="ui segment">

        </div>
        <div class="ui segment">

        </div>
    </div>

{% endblock %}
