{% extends 'sidebar.html' %}
{% block content %}

    <h3 class="ui dividing header">Sales Dashboard</h3>
    <div class="ui horizontal segments">
        <div class="ui segment">
            <h4 class="ui dividing header">Purchase Order Status </h4>
            <div id="salesRatio"></div>
        </div>
        <div class="ui segment">
            <h4 class="ui dividing header">Sales Comparison</h4>
            <div id="POComparison"></div>
        </div>
    </div>
    <div class="ui horizontal segments">
        <div class="ui segment">
        <h4 class="ui dividing header">Client Purchase Orders </h4>
            <table class="ui striped table center aligned">
                <thead>
                <tr>
                  <th>Purchase Order ID</th>
                  <th>Date Issued</th>
                  <th>Date Required</th>
                  <th>Total Amount</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>

                {% if JobOrder_data5 %}
                    {% for each in JobOrder_data5 %}
                        <tr>
                            <td><a href="{% url 'sales:po-detail-view' each.id %}"> {{ each.id }}</a></td>
                            <td>{{ each.date_issued }}</td>
                            <td>{{ each.date_required }}</td>
                            <td>{{ each.total_amount }}</td>
                            <td>{% if each.status == 'Waiting' and x == 'Employee' %}
                                <a href="{% url 'sales:confirm-client-po' each.id %}">{{ each.status }}</a>
                                {% else %}
                                {{ each.status }}
                            </td>
                                {% endif %}
                        </tr>
                        {% endfor %}
                    {% else %}
                    <td>
                        <p>There are no Purchase Orders to display</p>
                    </td>
                    {% endif %}
                </tbody>
                 <tfoot>
                    <tr>
                        <th colspan="5">
                            <a href="{% url 'sales:po-list-view' %}">See more</a>
                        </th>
                    </tr>
                 </tfoot>
            </table>
        </div>
    </div>
    <div class="ui segment">
                <h4 class="ui dividing header">Rush Orders</h4>
                {% if rush_order %}
                <div class="ui two cards">
                    {% for rush_order in rush_order %}
                    <div class="ui card">
                        <div class="content center aligned">
                            <div class="header">
                                <h3>{{ rush_order }}</h3>
                            </div>
                            <div class="meta">
                                {{ rush_order.client }}
                            </div>
                        </div>
                        <div class="content">
                            <div class="row">
                                Total Amount: {{ rush_order.total_amount }}
                            </div>
                            <div class="row">
                                Date Issued: {{ rush_order.date_issued }}
                            </div>
                            <div class="row">
                                Date Required: {{ rush_order.date_required }}
                            </div>
                            <div>
                                Remarks: {{ rush_order.remarks }}
                            </div>
                        </div>
                        <div class="content center aligned">
                            <a class="ui yellow button" href="{% url 'sales:rush_order_assessment' rush_order.id %}">View Assessment</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% else %}
                <div class="ui positive icon message">
                    <i class="check icon"></i>
                    <div class="content">
                        <div class="header">
                            No rush orders!
                        </div>
                        <p>
                            There are currently no pending rush orders.
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>

    <div class="ui segment">
                <h4 class="ui dividing header">Overdue Sales Invoices</h4>
                <table class="ui striped table center aligned">
                    <thead>
                        <tr>
                            <th>Sales Invoice #</th>
                            <th>Client</th>
                            <th>Days Overdue</th>
                            <th>Amount Due</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if invoice %}
                        {% for SalesInvoice in invoice  %}
                        <tr>
                            <td><a href="{% url 'sales:sales_invoice_details' SalesInvoice.id %}"> {{ SalesInvoice.id }} </a></td>
                            <td> {{ SalesInvoice.client }} </td>
                            <td> {{ SalesInvoice.days_overdue }} </td>
                            <td> {{ SalesInvoice.amount_due }} </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <td>
                        <p>There are no Invoices to display</p>
                    </td>
                    {% endif %}
                    </tbody>
                    <tfoot class="full-width">
                        <tr>
                            <th colspan="5">
                                <a href="{%url 'sales:sales_invoice_list'%}">See more</a>
                            </th>
                        </tr>
                    </tfoot>

                </table>
            </div>

    <h3 class="ui dividing header">Production Dashboard</h3>

    <div style="overflow-x: scroll">
    <div class="ui top attached tabular menu">
    <div class="active item" data-tab="first">Week of {{ today }}</div>
    <div class="item" data-tab="second">
    {% if today.month == 1 %}
        January {{ today.year }}
    {% elif today.month == 2 %}
        February {{ today.year }}
    {% elif today.month == 3 %}
        March {{ today.year }}
    {% elif today.month == 4 %}
        April {{ today.year }}
    {% elif today.month == 5 %}
        May {{ today.year }}
    {% elif today.month == 6 %}
        June {{ today.year }}
    {% elif today.month == 7 %}
        July {{ today.year }}
    {% elif today.month == 8 %}
        August {{ today.year }}
    {% elif today.month == 9 %}
        September {{ today.year }}
    {% elif today.month == 10 %}
        October {{ today.year }}
    {% elif today.month == 11 %}
        November {{ today.year }}
    {% elif today.month == 12 %}
        December {{ today.year }}
    {% endif %}
    </div>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">
    <div style="overflow-x: scroll;">
        <table class="ui celled center aligned very small compact table">
            <thead>
                <tr>
                    <th class="one wide">Machine</th>
                    {% for a in week %}
                    <th class="one wide">{{ a }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="top aligned">

            {% for x in machines %}
                <tr>
                    <td>
                        <a href="#">Machine {{x.machine_id}} : {{x.machine_type}}</a>
                        {% if x.state == 'OK' %}
                        <i class="green check circle outline icon"></i>
                        {% else %}
                        <i class="red times circle outline icon"></i>
                        {% endif %}
                    </td>

                    {% for b in week %}
                        <td>
                        {% for i in this_week %}

                            {% if i.Start.date == b and i.Machine == x %}

                                <div class="ui mini message">


                                <a href="{% url 'production:job_order_details' i.ID %}" class="ui black header">Job {{ i.ID }}</a><br>

                                Employee: {{ i.Worker }}<br>
                                RM: {{ i.Resource }}<br>
                                {% if i.Start.date == b %}
                                    Start: {{ i.Start.hour }}:{{ i.Start.minute }} <br>
                                {% endif %}
                                {% if i.Finish.date == b %}
                                    End: {{ i.Finish.hour }}:{{ i.Finish.minute }} <br>
                                {% endif %}

                            </div>

                            {% endif %}
                        {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
    <div style="overflow-x: scroll;">
        <table class="ui celled center aligned table">
            <thead>
                <tr>
                   <th>Machine</th>
                    {% for c in month %}
                    <th>{{ c.day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="top aligned">
            {% for y in machines %}
                <tr>
                    <td>
                        <a href="#">Machine {{y.machine_id}} : {{y.machine_type}}</a>
                        {% if y.state == 'OK' %}
                        <i class="green check circle outline icon"></i>
                        {% else %}
                        <i class="red times circle outline icon"></i>
                        {% endif %}
                    </td>
                    {% for d in month %}
                        <td>
                            {% for j in this_month %}
                                {% if j.Start.date == d and j.Machine == y %}

                                <div class="ui mini message">

                                    <a href="{% url 'production:job_order_details' j.ID %}" class="ui black header">Job {{ j.ID }}</a><br>

                                    Employee: {{ j.Worker }}<br>
                                    RM: {{ j.Resource }}<br>
                                    {% if j.Start.date == b %}
                                        Start: {{ j.Start.hour }}:{{ j.Start.minute }} <br>
                                    {% endif %}
                                    {% if j.Finish.date == b %}
                                        End: {{ j.Finish.hour }}:{{ j.Finish.minute }} <br>
                                    {% endif %}

                                </div>

                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    </div>

    <script>
        google.charts.load('current', {'packages':['corechart', 'bar']});

        //for sales2
        google.charts.setOnLoadCallback(salesComparisonChart);

        function salesComparisonChart() {


            var POComparison = google.visualization.arrayToDataTable([
                ['Year', '{{lastMonth}}', "{{thisMonth}}"],
                ['{{lastYear}}', parseInt('{{POs_lastMonthLastYear.count}}'), parseInt('{{POs_lastYear.count}}')],
                ['{{thisYear}}', parseInt('{{POs_lastMonth.count}}'), parseInt('{{POs.count}}')]
            ]);

            var options = {
              width: 400,
              height: 300,
              legend: { position: 'none' }
            };

            var chart2 = new google.charts.Bar(document.getElementById('POComparison'));

            chart2.draw(POComparison, options);
          }

        //for PO ratio
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
            var Sales1 = google.visualization.arrayToDataTable([
              ['Status', 'Amount'],
              ['Waiting', parseInt("{{ status_waiting }}")],
              ['On Queue', parseInt("{{ status_onqueue }}")],
              ['Extrusion', parseInt("{{ status_extrusion }}")],
              ['Printing', parseInt("{{ status_printing }}")],
              ['Cutting', parseInt("{{ status_cutting }}")],
              ['Packaging', parseInt("{{ status_packaging }}")],
              ['Ready for Delivery', parseInt("{{ status_ready }}")],
            ]);

            var options = {
              title: 'PO Status',
              width: 500,
              height: 300,
              pieHole: .3,
            };

            var chart = new google.visualization.PieChart(document.getElementById('salesRatio'));
            chart.draw(Sales1, options);
          }
    </script>

</div>

{% endblock %}
