

<!DOCTYPE html>
<html lang="en">
  <head>

    {% includes "global_base_ui.html" %}
      
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Big Apple Plastic Manufacturing Co.</title>
 
    <!-- Favicons-->
    <link rel="icon" href="../../images/BAicon.png" sizes="32x32">
    
    <!-- CORE CSS-->
    <link href="../../static/css/materialize.css" type="text/css" rel="stylesheet">
 	<link href="../../static/css/style.css" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="../../static/css/custom.css" type="text/css" rel="stylesheet">
    
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="../../static/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="../../static/vendors/prism/prism.css" type="text/css" rel="stylesheet">
 	
  </head>

  <body>

	{{request.session.session_username}}

	<!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->

    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation">
            <li class="user-details cyan darken-2">
              <div class="row">
                <div class="col col s4 m4 l4">
                  <img src="static/images/avatar/avatar-7.png" alt="" class="circle responsive-img valign profile-image cyan">
                </div>
                <div class="col col s8 m8 l8">
                  <ul id="profile-dropdown-nav" class="dropdown-content">
                    <li>
    		            <a href="account_details.html" class="grey-text text-darken-1">
	                	<i class="material-icons">face</i> Profile</a>
                    </li>
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">settings</i> Settings</a>
                    </li>
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">live_help</i> Help</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">lock_outline</i> Lock</a>
                    </li>
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">keyboard_tab</i> Logout</a>
                    </li>
                  </ul>
                  <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
                  <p class="user-roal">Supervisor</p>
                </div>
              </div>
            </li>
            <li class="no-padding">
              <ul class="collapsible" data-collapsible="accordion">
                <li class="bold">
                  <a href="orders_page.html" class="waves-effect waves-cyan">
                      <i class="material-icons">note</i>
                      <span class="nav-text">Job Orders</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="scheduling_page.html" class="waves-effect waves-cyan">
                      <i class="material-icons">event_note</i>
                      <span class="nav-text">Production</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="intentory_page.html" class="waves-effect waves-cyan">
                      <i class="material-icons">widgets</i>
                      <span class="nav-text">Inventory</span>
                    </a>
                </li>                
                <li class="bold">
                  <a href="" class="waves-effect waves-cyan">
                    <i class="material-icons">help</i>
                    <span class="nav-text">Help</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
          <!--start container-->
          <div class="container">
            <!--card stats start-->
            <div id="card-stats">
              <div class="row">
                <div class="col s2">
                  <div class="card #b71c1c red darken-4 min-height-100 white-text">
                    <div class="padding-1">
                      <div class="col s7 m7">
                        <p>Incoming Job Orders:</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <p>60</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s2">
                  <div class="card #b71c1c red darken-4 min-height-100 white-text">
                    <div class="padding-1">
                      <div class="col s7 m7">
                        <p>Extrusion</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <p>Zalora</p>
                     </div>
                        <div class="progress">
                            <div class="determinate" style="width: 36%"></div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col s2">
                  <div class="card #ffb300 amber darken-1 min-height-100 white-text">
                    <div class="padding-1">
                      <div class="col s7 m7">
                        <p>Printing</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <p>Lazada</p>
                      </div>
                        <div class="progress">
                            <div class="determinate" style="width: 50%"></div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col s2">
                  <div class="card #d4e157 lime lighten-1 min-height-100 white-text">
                    <div class="padding-1">
                      <div class="col s7 m7">
                        <p>Cutting</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <p>McDonald's</p>
                      </div>
                        <div class="progress">
                            <div class="determinate" style="width: 75%"></div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col s2">
                  <div class="card #66bb6a green lighten-1 min-height-100 white-text">
                    <div class="padding-1">
                      <div class="col s7 m7">
                        <p>Lamination</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <p>Mcdonald's</p>
                      </div>
                      <div class="progress">
                            <div class="determinate" style="width: 80%"></div>
                    </div>
                   </div>
                  </div>
                </div>
                <div class="col s2">
                  <div class="card #1b5e20 green darken-4 min-height-100 white-text">
                    <div class="padding-1">
                      <div class="col s7 m7">
                        <p>Packaging and Q/A</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <p>Zalora</p>
                      </div>
                      <div class="progress">
                            <div class="determinate" style="width: 10%"></div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="card-widgets">
            	<div class="row">
                	<div class="col s12">
                  		<ul id="task-card" class="collection with-header">
                    		<li class="collection-header teal accent-4">
		                      	<a href=#>
        	              	<h4 class="task-card-title"><i class="material-icons">event_note</i> Production Schedule</h4>
            	          	</a>
                	      	<p class="task-card-date">For the month of
                      
                    	  	<script type="text/javascript">
                      		var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                      		document.write(months[new Date().getMonth()]);
	                      	</script>
    	                  
        	              	to
            	          
                	      	<script type="text/javascript">
	            	          	var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    	    	              	document.write(months[new Date().getMonth()+1]);
        	              	</script>
                      
                      		</p>
                    	</li>
                    	<li>
                    		<table class="highlight centered">
        						<thead>
          							<tr>
                                        <th>Job Order Number</th>
                                        <th>Status</th>
                                    </tr>
        						</thead>
                                
								<tbody>
          							<tr>
                                        <td>1282085024</td>
                                        <td>
                                        </td>
          							</tr>
        						</tbody>
      						</table>
                    	</li>
                  	</ul>
                </div>
            </div>
            <!--card widgets end-->

            
            <!--work collections start-->
            <div id="work-collections">
              <div class="row">
                <div class="col s12 m12 l6">
                  <ul id="projects-collection" class="collection z-depth-1">
                    <li class="collection-item avatar">
                      <i class="material-icons cyan circle">note</i>
                      <h6 class="collection-header m-1"><a href=#>Job Order Status</a></h6>
                    </li>
                    <li class="collection-item">
                		<div class="row">
                			<div class="col s4">
	                        	<p class="collections-title">Job Order #</p>                				
                			</div>
	                		<div class="col s4">
	                			<p class="collections-title">Company</p>
	                		</div>
		                	<div class="col s4">
		                		<p class="collections-title">Status</p>
		                	</div>
		                </div>
                   </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s4">
                          <p class="collections-content">1282085024</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content">Company A</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content"><span class="task-cat red accent-4">Delayed</span></p>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s4">
                          <p class="collections-content">3803718273</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content">Company B</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content"><span class="task-cat green accent-4">On Schedule</span></p>
                        </div>
                      </div>                    
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s4">
                          <p class="collections-content">5049281732</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content">Company C</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content"><span class="task-cat red accent-4">Delayed</span></p>
                        </div>
                      </div>                                        
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s4">
                          <p class="collections-content">5832854928</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content">Company D</p>
                        </div>
                        <div class="col s4">
                          <p class="collections-content"><span class="task-cat red accent-4">Delayed</span></p>
                        </div>
                      </div>                                        
                	</li>
                  </ul>
                </div>
                <div class="col s12 m12 l6">
                  <ul id="issues-collection" class="collection z-depth-1">
                    <li class="collection-item avatar">
                      <i class="material-icons red accent-2 circle">widgets</i>
                      <h6 class="collection-header m-1">Inventory Status</h6>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s7">
                          <p class="collections-title">
                            <strong>#102</strong> Home Page</p>
                          <p class="collections-content">Web Project</p>
                        </div>
                        <div class="col s2">
                          <span class="task-cat deep-orange accent-2">P1</span>
                        </div>
                        <div class="col s3">
                          <div class="progress">
                            <div class="determinate" style="width: 70%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s7">
                          <p class="collections-title">
                            <strong>#108</strong> API Fix</p>
                          <p class="collections-content">API Project </p>
                        </div>
                        <div class="col s2">
                          <span class="task-cat cyan">P2</span>
                        </div>
                        <div class="col s3">
                          <div class="progress">
                            <div class="determinate" style="width: 40%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s7">
                          <p class="collections-title">
                            <strong>#205</strong> Profile page css</p>
                          <p class="collections-content">New Project </p>
                        </div>
                        <div class="col s2">
                          <span class="task-cat red accent-2">P3</span>
                        </div>
                        <div class="col s3">
                          <div class="progress">
                            <div class="determinate" style="width: 95%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s7">
                          <p class="collections-title">
                            <strong>#188</strong> SAP Changes</p>
                          <p class="collections-content">SAP Project</p>
                        </div>
                        <div class="col s2">
                          <span class="task-cat teal accent-4">P1</span>
                        </div>
                        <div class="col s3">
                          <div class="progress">
                            <div class="determinate" style="width: 10%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--work collections end-->
            </div>
            <!-- //////////////////////////////////////////////////////////////////////////// -->
          </div>
          <!--end container-->
        </section>
        <!-- END CONTENT -->

      </div>
      <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
  
    <!-- //////////////////////////////////////////////////////////////////////////// -->
  
    <!-- START FOOTER -->

    <!-- END FOOTER -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="../../static/vendors/jquery-3.2.1.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="../../static/js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="../../static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="../../static/js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="../../static/js/custom-script.js"></script>
  </body>
  
</html>